Repository jeremylvln/Shulker: changes, and which Codecov flags are due for each by the changed paths.
All: google-agones-crds, google-open-match-sdk-bindings-rust, shulker-addon-matchmaking, shulker-crds, shulker-kube-utils, shulker-operator, shulker-sdk-bindings-rust, shulker-utils

codecov.yml:

comment:
  layout: reach, diff, flags, files
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default: {}
      google-agones-crds:
        flags:
          - google-agones-crds
      google-open-match-sdk-bindings-rust:
        flags:
          - google-open-match-sdk-bindings-rust
      shulker-addon-matchmaking:
        flags:
          - shulker-addon-matchmaking
      shulker-crds:
        flags:
          - shulker-crds
      shulker-kube-utils:
        flags:
          - shulker-kube-utils
      shulker-operator:
        flags:
          - shulker-operator
      shulker-sdk-bindings-rust:
        flags:
          - shulker-sdk-bindings-rust
      shulker-utils:
        flags:
          - shulker-utils
flags:
  google-agones-crds:
    paths:
      - packages/google-agones-crds
    carryforward: true
  google-open-match-sdk-bindings-rust:
    paths:
      - packages/google-open-match-sdk/bindings/rust
    carryforward: true
  shulker-addon-matchmaking:
    paths:
      - packages/shulker-addon-matchmaking
    carryforward: true
  shulker-crds:
    paths:
      - packages/shulker-crds
    carryforward: true
  shulker-kube-utils:
    paths:
      - packages/shulker-kube-utils
    carryforward: true
  shulker-operator:
    paths:
      - packages/shulker-operator
    carryforward: true
  shulker-sdk-bindings-rust:
    paths:
      - packages/shulker-sdk/bindings/rust
    carryforward: true
  shulker-utils:
    paths:
      - packages/shulker-utils
    carryforward: true

docs: fix Mincraft typo (#527)
  docs/src/latest/guide/getting-started/your-first-cluster.md
  docs/src/next/guide/getting-started/your-first-cluster.md
Due: none

Deploying to gh-pages from @ jeremylvln/Shulker@875de67ba389dade286c48598044a475737b9115 🚀
  404.html
  assets/latest_guide_getting-started_your-first-cluster.md.6VQddMmk.js
  assets/latest_guide_getting-started_your-first-cluster.md.6VQddMmk.lean.js
  assets/next_guide_getting-started_your-first-cluster.md.VNPL10ux.js
  assets/next_guide_getting-started_your-first-cluster.md.VNPL10ux.lean.js
  hashmap.json
  index.html
  latest/guide/addons/matchmaking.html
  latest/guide/addons/what-are-addons.html
  latest/guide/architecture.html
  latest/guide/getting-started/installation.html
  latest/guide/getting-started/prerequisites.html
  latest/guide/getting-started/your-first-cluster.html
  latest/guide/index.html
  latest/guide/recipes/adding-custom-content.html
  latest/guide/recipes/defining-network-administrators.html
  latest/guide/recipes/enabling-proxy-protocol.html
  latest/guide/recipes/overriding-pod-properties.html
  latest/guide/recipes/using-custom-server-jar.html
  latest/sdk/index.html
  next/guide/addons/matchmaking.html
  next/guide/addons/what-are-addons.html
  next/guide/architecture.html
  next/guide/getting-started/installation.html
  next/guide/getting-started/prerequisites.html
  next/guide/getting-started/your-first-cluster.html
  next/guide/index.html
  next/guide/recipes/adding-custom-content.html
  next/guide/recipes/defining-network-administrators.html
  next/guide/recipes/enabling-proxy-protocol.html
  next/guide/recipes/overriding-pod-properties.html
  next/guide/recipes/understanding-lifecycle-strategies.html
  next/guide/recipes/using-custom-server-jar.html
  next/sdk/index.html
Due: none

docs: change "Mounting volumes" example text (#526)
  docs/src/latest/guide/recipes/overriding-pod-properties.md
  docs/src/next/guide/recipes/overriding-pod-properties.md
Due: none

Deploying to gh-pages from @ jeremylvln/Shulker@f271222cc086ca371cdf18991edec010089d0f8a 🚀
  404.html
  assets/latest_guide_recipes_overriding-pod-properties.md.WiTni4MD.js
  assets/latest_guide_recipes_overriding-pod-properties.md.WiTni4MD.lean.js
  assets/next_guide_recipes_overriding-pod-properties.md.dyO-N68Z.js
  assets/next_guide_recipes_overriding-pod-properties.md.dyO-N68Z.lean.js
  hashmap.json
  index.html
  latest/guide/addons/matchmaking.html
  latest/guide/addons/what-are-addons.html
  latest/guide/architecture.html
  latest/guide/getting-started/installation.html
  latest/guide/getting-started/prerequisites.html
  latest/guide/getting-started/your-first-cluster.html
  latest/guide/index.html
  latest/guide/recipes/adding-custom-content.html
  latest/guide/recipes/defining-network-administrators.html
  latest/guide/recipes/enabling-proxy-protocol.html
  latest/guide/recipes/overriding-pod-properties.html
  latest/guide/recipes/using-custom-server-jar.html
  latest/sdk/index.html
  next/guide/addons/matchmaking.html
  next/guide/addons/what-are-addons.html
  next/guide/architecture.html
  next/guide/getting-started/installation.html
  next/guide/getting-started/prerequisites.html
  next/guide/getting-started/your-first-cluster.html
  next/guide/index.html
  next/guide/recipes/adding-custom-content.html
  next/guide/recipes/defining-network-administrators.html
  next/guide/recipes/enabling-proxy-protocol.html
  next/guide/recipes/overriding-pod-properties.html
  next/guide/recipes/understanding-lifecycle-strategies.html
  next/guide/recipes/using-custom-server-jar.html
  next/sdk/index.html
Due: none

ci: allow cargo-deny to fail for now
  .github/workflows/ci.yml
Due: none

chore: add workflows to fill sponsors block
  .github/workflows/sponsors.yml
  README.md
Due: none

chore: add workflows to fill sponsors block
  .github/workflows/sponsors.yml
Due: none

chore: update README sponsors
  README.md
Due: none

chore: update README
  README.md
Due: none

chore: upgrade to Node 22 and pnpm
  .github/actions/install-tools/action.yml
  .nvmrc
  docs/package.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: upgrade Nx to latest
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  commitlint.config.cjs
  nx.json
  package.json
  pnpm-lock.yaml
  scripts/generate_codecov_config.cjs
Due: none

chore: upgrade Rust to 1.80.1
  Cargo.toml
  packages/shulker-addon-matchmaking/Dockerfile
  packages/shulker-operator/Dockerfile
Due: shulker-addon-matchmaking, shulker-operator

ci: replace use of npx and npm with pnpm
  .github/actions/install-tools/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

fix(deps): update rust dependencies
  Cargo.lock
  Cargo.toml
Due: none

ci: update configure-pages action to v5
  .github/workflows/docs.yml
Due: none

feat(shulker-operator): update proxy and server Docker image version
  packages/shulker-operator/src/constants.rs
Due: shulker-operator

chore: fix build
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  packages/google-agones-crds/Cargo.toml
  packages/google-agones-sdk/bindings/rust/Cargo.toml
  packages/google-open-match-sdk/bindings/rust/Cargo.toml
  packages/shulker-addon-matchmaking/Cargo.toml
  packages/shulker-addon-matchmaking/src/mmf/fixtures.rs
  packages/shulker-crds/Cargo.toml
  packages/shulker-kube-utils/Cargo.toml
  packages/shulker-operator/Cargo.toml
  packages/shulker-operator/src/reconcilers/minecraft_cluster/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/resources/resourceref_resolver.rs
  packages/shulker-sdk/bindings/rust/Cargo.toml
  packages/shulker-utils/Cargo.toml
Due: google-agones-crds, google-open-match-sdk-bindings-rust, shulker-addon-matchmaking, shulker-crds, shulker-kube-utils, shulker-operator, shulker-sdk-bindings-rust, shulker-utils

chore: fix dockerfiles
  packages/shulker-addon-matchmaking/Dockerfile
  packages/shulker-operator/Dockerfile
Due: shulker-addon-matchmaking, shulker-operator

chore: optimize dockerfiles
  packages/shulker-addon-matchmaking/Dockerfile
  packages/shulker-operator/Dockerfile
Due: shulker-addon-matchmaking, shulker-operator

feat(docs): add search
  docs/src/.vitepress/config.mts
Due: none

fix(docs): add missing comma
  docs/src/.vitepress/config.mts
Due: none

docs: add search (#616)
  docs/src/.vitepress/config.mts
Due: none

feat(shulker-proxy-agent): support reconnecting players to cluster
  .idea/kotlinc.xml
  .idea/vcs.xml
  kube/helm/subcharts/shulker-addon-matchmaking/templates/crds/matchmaking.shulkermc.io_matchmakingqueues.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  kube/helm/templates/crds/shulkermc.io_proxyfleets.yaml
  packages/shulker-crds/src/bin/crdgen.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ShulkerProxyAgentBungeeCord.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/Configuration.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/KubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/api/ShulkerProxyAPIImpl.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyLifecycleService.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
  packages/shulker-proxy-api/src/main/java/io/shulkermc/proxyagent/api/ShulkerProxyAPI.java
  settings.gradle.kts
Due: shulker-crds, shulker-operator

chore: update Minecraft version in examples
  examples/custom-server-jar/minecraftserver.yaml
  examples/getting-started/minecraftserver.yaml
  examples/mounting-volumes/minecraftserver.yaml
  examples/with-custom-configuration/minecraftserver.yaml
Due: none

feat(shulker-proxy-agent): proper support of cluster reconnection
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/proxy_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__minecraft_server_role__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__proxy_role__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__bungeecord__tests__from_spec.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__bungeecord__tests__to_string.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__velocity__tests__from_spec.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__velocity__tests__to_string.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ShulkerProxyAgentBungeeCord.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalControlCommand.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/RedisCacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/pubsub/PubSubAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/pubsub/RedisPubSubAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/commands/ControlCommandHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/handlers/DrainProxyHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/handlers/ReconnectProxyHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/platform/ServerPreConnectHook.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyLifecycleService.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ShulkerProxyAgentVelocity.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/commands/GlobalControlCommand.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ShulkerServerAgentCommon.kt
Due: shulker-operator

feat(shulker-operator): inject fleet name to proxies
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

feat(shulker-proxy-agent): proper support of cluster reconnection
  .idea/misc.xml
  gradle/detekt-config.yml
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyLifecycleService.kt
Due: none

chore: fix deny config
  deny.toml
Due: none

chore: remove docker mount cache that breaks build
  packages/shulker-addon-matchmaking/Dockerfile
  packages/shulker-operator/Dockerfile
Due: shulker-addon-matchmaking, shulker-operator

feat(shulker-crds): specify scale subresource for ProxyFleet and MinecraftServerFleet
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_proxyfleets.yaml
  packages/shulker-crds/src/v1alpha1/minecraft_server_fleet.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-utils/src/time.rs
Due: shulker-crds, shulker-utils

feat(shulker-crds): specify scale subresource for ProxyFleet and MinecraftServerFleet (#623)
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_proxyfleets.yaml
  packages/shulker-crds/src/v1alpha1/minecraft_server_fleet.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-utils/src/time.rs
Due: shulker-crds, shulker-utils

chore: fix conventional changelog dependency
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ jeremylvln/Shulker@2d62a8010f101a7d65f34281d0d8cf894261bc61 🚀
  404.html
  assets/app.BWc1LsYN.js
  assets/app.CgXsLFb5.js
  assets/chunks/@localSearchIndexroot.BKZ2ZbrI.js
  assets/chunks/@localSearchIndexroot.BQkHhYKn.js
  assets/chunks/VPLocalSearchBox.BA_UnYaN.js
  assets/chunks/VPLocalSearchBox.DN2slR23.js
  assets/chunks/theme.Bj-9Z_fH.js
  assets/chunks/theme.CYzirysx.js
  assets/style.C48GvXLd.css
  assets/style.H67FhO8K.css
  index.html
  latest/guide/addons/matchmaking.html
  latest/guide/addons/what-are-addons.html
  latest/guide/architecture.html
  latest/guide/getting-started/installation.html
  latest/guide/getting-started/prerequisites.html
  latest/guide/getting-started/your-first-cluster.html
  latest/guide/index.html
  latest/guide/recipes/adding-custom-content.html
  latest/guide/recipes/defining-network-administrators.html
  latest/guide/recipes/enabling-proxy-protocol.html
  latest/guide/recipes/overriding-pod-properties.html
  latest/guide/recipes/using-custom-server-jar.html
  latest/sdk/index.html
  next/guide/addons/matchmaking.html
  next/guide/addons/what-are-addons.html
  next/guide/architecture.html
  next/guide/getting-started/installation.html
  next/guide/getting-started/prerequisites.html
  next/guide/getting-started/your-first-cluster.html
  next/guide/index.html
  next/guide/recipes/adding-custom-content.html
  next/guide/recipes/defining-network-administrators.html
  next/guide/recipes/enabling-proxy-protocol.html
  next/guide/recipes/overriding-pod-properties.html
  next/guide/recipes/understanding-lifecycle-strategies.html
  next/guide/recipes/using-custom-server-jar.html
  next/sdk/index.html
Due: none
