Repository jeremylvln/Shulker: changes, and which Codecov flags are due for each by the changed paths.
All: google-agones-crds, google-open-match-sdk-bindings-rust, shulker-addon-matchmaking, shulker-crds, shulker-kube-utils, shulker-operator, shulker-sdk-bindings-rust, shulker-utils

Update game_server.rs
  packages/google-agones-crds/src/v1/game_server.rs
Due: google-agones-crds

Update gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
Due: shulker-operator

try
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
Due: shulker-crds

try
  packages/shulker-operator/src/reconcilers/minecraft_server/mod.rs
Due: shulker-operator

try
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

fix: build
  Cargo.lock
  packages/shulker-operator/src/reconcilers/minecraft_cluster/forwarding_secret.rs
Due: shulker-operator

chore: upgrade Nx to latest
  nx.json
  package.json
  pnpm-lock.yaml
Due: none

feat(shulker-cli): create cli app
  Cargo.lock
  Cargo.toml
  codecov.yml
  packages/shulker-cli/Cargo.toml
  packages/shulker-cli/project.json
  packages/shulker-cli/src/commands/fleet_summon.rs
  packages/shulker-cli/src/commands/mod.rs
  packages/shulker-cli/src/lib.rs
  packages/shulker-cli/src/main.rs
  packages/shulker-cli/tarpaulin.toml
  packages/shulker-operator/Cargo.toml
  packages/shulker-operator/assets/server-init-fs.sh
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/summon.rs
  scripts/upload_codecov_files.sh
Due: shulker-operator

feat(shulker-cli): create cli app (#943)
  Cargo.lock
  Cargo.toml
  codecov.yml
  packages/shulker-cli/Cargo.toml
  packages/shulker-cli/project.json
  packages/shulker-cli/src/commands/fleet_summon.rs
  packages/shulker-cli/src/commands/mod.rs
  packages/shulker-cli/src/lib.rs
  packages/shulker-cli/src/main.rs
  packages/shulker-cli/tarpaulin.toml
  packages/shulker-operator/Cargo.toml
  packages/shulker-operator/assets/server-init-fs.sh
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/summon.rs
  scripts/upload_codecov_files.sh
Due: shulker-operator

chore(release): 0.13.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  d5cbe297697259277e07255094d66f03a1bb8ca2
Due: none

chore: update Helm repository
  helm-charts/index.yaml
  helm-charts/shulker-operator-0.13.0.tgz
Due: none

fix: build
  Cargo.lock
  Cargo.toml
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_stateful_set.rs
Due: shulker-operator

chore: upgrade Nx and migrate to Nx Gradle plugin
  .gitignore
  build.gradle.kts
  codecov.yml
  nx.json
  package.json
  packages/google-agones-crds/project.json
  packages/google-agones-sdk/bindings/java/project.json
  packages/google-agones-sdk/bindings/rust/project.json
  packages/google-agones-sdk/project.json
  packages/google-open-match-sdk/bindings/java/project.json
  packages/google-open-match-sdk/bindings/rust/project.json
  packages/google-open-match-sdk/project.json
  packages/shulker-addon-matchmaking/project.json
  packages/shulker-cli/project.json
  packages/shulker-crds/project.json
  packages/shulker-kube-utils/project.json
  packages/shulker-operator/project.json
  packages/shulker-proxy-agent/project.json
  packages/shulker-proxy-api/project.json
  packages/shulker-sdk/bindings/java/project.json
  packages/shulker-sdk/bindings/rust/project.json
  packages/shulker-sdk/project.json
  packages/shulker-server-agent/project.json
  packages/shulker-server-api/project.json
  packages/shulker-server-minestom-demo/project.json
  packages/shulker-utils/project.json
  pnpm-lock.yaml
  scripts/upload_codecov_files.sh
Due: google-agones-crds, google-open-match-sdk-bindings-rust, shulker-addon-matchmaking, shulker-crds, shulker-kube-utils, shulker-operator, shulker-sdk-bindings-rust, shulker-utils

chore: disable check step in build
  build.gradle.kts
  nx.json
  packages/shulker-proxy-agent/project.json
  packages/shulker-proxy-api/project.json
  packages/shulker-server-agent/project.json
  packages/shulker-server-api/project.json
  packages/shulker-server-minestom-demo/project.json
Due: none

chore: enable gradle daemon
  build.gradle.kts
  codecov.yml
  gradle.properties
  scripts/upload_codecov_files.sh
Due: none

chore: update Node dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: add back lint task to gradle projects
  nx.json
  packages/shulker-proxy-agent/project.json
  packages/shulker-proxy-api/project.json
  packages/shulker-server-agent/project.json
  packages/shulker-server-api/project.json
  packages/shulker-server-minestom-demo/project.json
Due: none

chore: upgrade Nx and migrate to Nx Gradle plugin (#1015)
  .gitignore
  build.gradle.kts
  codecov.yml
  gradle.properties
  nx.json
  package.json
  packages/google-agones-crds/project.json
  packages/google-agones-sdk/bindings/java/project.json
  packages/google-agones-sdk/bindings/rust/project.json
  packages/google-agones-sdk/project.json
  packages/google-open-match-sdk/bindings/java/project.json
  packages/google-open-match-sdk/bindings/rust/project.json
  packages/google-open-match-sdk/project.json
  packages/shulker-addon-matchmaking/project.json
  packages/shulker-cli/project.json
  packages/shulker-crds/project.json
  packages/shulker-kube-utils/project.json
  packages/shulker-operator/project.json
  packages/shulker-proxy-agent/project.json
  packages/shulker-proxy-api/project.json
  packages/shulker-sdk/bindings/java/project.json
  packages/shulker-sdk/bindings/rust/project.json
  packages/shulker-sdk/project.json
  packages/shulker-server-agent/project.json
  packages/shulker-server-api/project.json
  packages/shulker-server-minestom-demo/project.json
  packages/shulker-utils/project.json
  pnpm-lock.yaml
  scripts/upload_codecov_files.sh
Due: google-agones-crds, google-open-match-sdk-bindings-rust, shulker-addon-matchmaking, shulker-crds, shulker-kube-utils, shulker-operator, shulker-sdk-bindings-rust, shulker-utils

docs: update example Minecraft version and create Minestom example
  examples/custom-server-jar/minecraftserver-minestom.yaml
  examples/getting-started/minecraftserver.yaml
  examples/mounting-volumes/minecraftserver.yaml
  examples/with-custom-configuration/minecraftserver.yaml
Due: none

fix(shulker-server-agent): handle graceful shutdown for Minestom
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/minestom/ServerInterfaceMinestom.kt
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/minestom/ShulkerServerAgentMinestom.kt
  settings.gradle.kts
Due: none

chore: fix docker build
  packages/shulker-addon-matchmaking/Dockerfile
  packages/shulker-operator/Dockerfile
Due: shulker-addon-matchmaking, shulker-operator

style: fix lint
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/minestom/ShulkerServerAgentMinestom.kt
Due: none

feat(shulker-server-agent): handle graceful shutdown for Minestom (#1016)
  examples/custom-server-jar/minecraftserver-minestom.yaml
  examples/getting-started/minecraftserver.yaml
  examples/mounting-volumes/minecraftserver.yaml
  examples/with-custom-configuration/minecraftserver.yaml
  packages/shulker-addon-matchmaking/Dockerfile
  packages/shulker-operator/Dockerfile
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/minestom/ServerInterfaceMinestom.kt
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/minestom/ShulkerServerAgentMinestom.kt
  settings.gradle.kts
Due: shulker-addon-matchmaking, shulker-operator

feat(shulker-proxy-agent): implement api to count players on tag
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/CacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/RedisCacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/api/ShulkerProxyAPIImpl.kt
  packages/shulker-proxy-api/src/main/java/io/shulkermc/proxyagent/api/ShulkerProxyAPI.java
Due: none

fix(shulker-proxy-agent): deprecation on FileAlterationObserver
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/CacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/RedisCacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/LocalFileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/api/ShulkerProxyAPIImpl.kt
Due: none

fix(shulker-operator): use new syntax for XML inner content
  packages/shulker-operator/src/resources/maven/mod.rs
Due: shulker-operator

fix: repository urlFrom key
  docs/src/latest/guide/recipes/adding-custom-content.md
Due: none

docs: fix repository urlFrom key in examples (#1030)
  docs/src/latest/guide/recipes/adding-custom-content.md
Due: none

refactor: create common agent packages
  codecov.yml
  packages/shulker-agent-api/build.gradle.kts
  packages/shulker-agent-api/gradle.properties
  packages/shulker-agent-api/project.json
  packages/shulker-agent-api/src/main/java/io/shulkermc/agent/api/PlayerPosition.java
  packages/shulker-agent-api/src/main/java/io/shulkermc/agent/api/ShulkerAPI.java
  packages/shulker-agent/build.gradle.kts
  packages/shulker-agent/gradle.properties
  packages/shulker-agent/project.json
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/adapters/cache/CacheAdapter.kt
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/adapters/cache/RedisCacheAdapter.kt
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/adapters/kubernetes/KubernetesGatewayAdapter.kt
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/adapters/kubernetes/models/AgonesV1GameServer.kt
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/adapters/kubernetes/models/WatchAction.kt
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/adapters/mojang/HttpMojangGatewayAdapter.kt
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/adapters/mojang/MojangGatewayAdapter.kt
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/adapters/proxy/ProxyAdapter.kt
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/api/ShulkerAPIHandler.kt
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/services/ServerDirectoryService.kt
  packages/shulker-proxy-agent/build.gradle.kts
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/api/ShulkerProxyAPIImpl.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/commands/CommandHandlerHelper.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/handlers/DrainProxyHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/handlers/ReconnectProxyHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyLifecycleService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyServerDirectoryService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ServerDirectoryService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/tasks/HealthcheckTask.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/tasks/LostProxyPurgeTask.kt
  packages/shulker-proxy-api/build.gradle.kts
  packages/shulker-proxy-api/src/main/java/io/shulkermc/proxyagent/api/ShulkerProxyAPI.java
  pnpm-lock.yaml
  scripts/upload_codecov_files.sh
  settings.gradle.kts
Due: none

chore: optimize imports
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/services/ServerDirectoryService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ShulkerServerAgentCommon.kt
Due: none

refactor: Kubernetes and Redis integration for server and proxy agents
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/adapters/kubernetes/KubernetesGatewayAdapter.kt
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/adapters/pubsub/PubSubAdapter.kt
  packages/shulker-agent/src/main/kotlin/io/shulkermc/agent/adapters/pubsub/RedisPubSubAdapter.kt
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/ProxyKubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/api/ShulkerProxyAPIImpl.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/handlers/DrainProxyHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/handlers/ReconnectProxyHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyLifecycleService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyServerDirectoryService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/tasks/HealthcheckTask.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/tasks/LostProxyPurgeTask.kt
  packages/shulker-server-agent/build.gradle.kts
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/Configuration.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ShulkerServerAgentCommon.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/api/ShulkerServerAPIImpl.kt
  packages/shulker-server-api/build.gradle.kts
  packages/shulker-server-api/src/main/java/io/shulkermc/serveragent/api/ShulkerServerAPI.java
Due: shulker-operator

feat(shulker-agent): teleportPlayerOnServer
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/api/ShulkerServerAPIImpl.kt
Due: none

chore: revert unwanted changes
  pnpm-lock.yaml
Due: none

feat: file injections for minecraft servers
  packages/shulker-crds/src/resourceref.rs
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-operator/assets/server-init-fs.sh
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
Due: shulker-crds, shulker-operator

docs: explain file injections
  docs/src/latest/guide/recipes/adding-custom-content.md
Due: none

Path conditions:
  google-agones-crds: any of: packages/google-agones-crds
  google-open-match-sdk-bindings-rust: any of: packages/google-open-match-sdk/bindings/rust
  shulker-addon-matchmaking: any of: packages/shulker-addon-matchmaking
  shulker-crds: any of: packages/shulker-crds
  shulker-kube-utils: any of: packages/shulker-kube-utils
  shulker-operator: any of: packages/shulker-operator
  shulker-sdk-bindings-rust: any of: packages/shulker-sdk/bindings/rust
  shulker-utils: any of: packages/shulker-utils
