Repository jeremylvln/Shulker: changes, and which Codecov flags are due for each by the changed paths.
All: google-agones-crds, google-open-match-sdk-bindings-rust, shulker-addon-matchmaking, shulker-crds, shulker-kube-utils, shulker-operator, shulker-sdk-bindings-rust, shulker-utils

codecov.yml:

comment:
  layout: reach, diff, flags, files
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default: {}
      google-agones-crds:
        flags:
          - google-agones-crds
      google-open-match-sdk-bindings-rust:
        flags:
          - google-open-match-sdk-bindings-rust
      shulker-addon-matchmaking:
        flags:
          - shulker-addon-matchmaking
      shulker-crds:
        flags:
          - shulker-crds
      shulker-kube-utils:
        flags:
          - shulker-kube-utils
      shulker-operator:
        flags:
          - shulker-operator
      shulker-sdk-bindings-rust:
        flags:
          - shulker-sdk-bindings-rust
      shulker-utils:
        flags:
          - shulker-utils
flags:
  google-agones-crds:
    paths:
      - packages/google-agones-crds
    carryforward: true
  google-open-match-sdk-bindings-rust:
    paths:
      - packages/google-open-match-sdk/bindings/rust
    carryforward: true
  shulker-addon-matchmaking:
    paths:
      - packages/shulker-addon-matchmaking
    carryforward: true
  shulker-crds:
    paths:
      - packages/shulker-crds
    carryforward: true
  shulker-kube-utils:
    paths:
      - packages/shulker-kube-utils
    carryforward: true
  shulker-operator:
    paths:
      - packages/shulker-operator
    carryforward: true
  shulker-sdk-bindings-rust:
    paths:
      - packages/shulker-sdk/bindings/rust
    carryforward: true
  shulker-utils:
    paths:
      - packages/shulker-utils
    carryforward: true

chore(release): 0.4.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  package.json
Due: none

Notes added by 'git notes add'
  6e872c068e42d4cf57d05ca49cdc8aa6874097a2
Due: none

chore: generate Helm manifests on prepare semantic release step
  .releaserc.cjs
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
Due: none

chore: fix README links
  README.md
Due: none

chore: add example for custom server jar
  examples/custom-server-jar/cluster.yaml
  examples/custom-server-jar/kustomization.yaml
  examples/custom-server-jar/minecraftserver.yaml
  kube/helm/charts/shulker-addon-matchmaking/templates/director_deployment.yaml
  kube/helm/charts/shulker-addon-matchmaking/templates/director_metrics_service.yaml
  kube/helm/charts/shulker-addon-matchmaking/templates/director_metrics_servicemonitor.yaml
  kube/helm/charts/shulker-addon-matchmaking/templates/mmf_deployment.yaml
  kube/helm/charts/shulker-addon-matchmaking/templates/mmf_service.yaml
  kube/helm/subcharts/shulker-addon-matchmaking/templates/crds/matchmaking.shulkermc.io_matchmakingqueues.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  kube/helm/templates/deployment.yaml
  kube/helm/templates/metrics_service.yaml
  kube/helm/templates/metrics_servicemonitor.yaml
  kube/helm/templates/service.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

feat(shulker-operator): set custom JAR on MinecraftServer if provided
  packages/shulker-operator/assets/proxy-init-fs.sh
  packages/shulker-operator/assets/server-init-fs.sh
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

feat(shulker-crds): add custom JAR to MincraftServer
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
Due: shulker-crds

docs: add custom server jar recipe
  docs/src/next/guide/recipes/using-custom-server-jar.md
  docs/src/next/sidebar.mts
Due: none

feat(shulker-operator): add the possibility to use custom server jars (#254)
  docs/src/next/guide/recipes/using-custom-server-jar.md
  docs/src/next/sidebar.mts
  examples/custom-server-jar/cluster.yaml
  examples/custom-server-jar/kustomization.yaml
  examples/custom-server-jar/minecraftserver.yaml
  kube/helm/charts/shulker-addon-matchmaking/templates/director_deployment.yaml
  kube/helm/charts/shulker-addon-matchmaking/templates/director_metrics_service.yaml
  kube/helm/charts/shulker-addon-matchmaking/templates/director_metrics_servicemonitor.yaml
  kube/helm/charts/shulker-addon-matchmaking/templates/mmf_deployment.yaml
  kube/helm/charts/shulker-addon-matchmaking/templates/mmf_service.yaml
  kube/helm/subcharts/shulker-addon-matchmaking/templates/crds/matchmaking.shulkermc.io_matchmakingqueues.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  kube/helm/templates/deployment.yaml
  kube/helm/templates/metrics_service.yaml
  kube/helm/templates/metrics_servicemonitor.yaml
  kube/helm/templates/service.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-operator/assets/proxy-init-fs.sh
  packages/shulker-operator/assets/server-init-fs.sh
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-crds, shulker-operator

fix(shulker-operator): custom annotations not added to ProxyFleet service
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/service.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__service__tests__build_snapshot.snap
Due: shulker-operator

fix(shulker-operator): custom annotations not added to ProxyFleet service (#273)
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/service.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__service__tests__build_snapshot.snap
Due: shulker-operator

feat(shulker-crds): add custom volume and volume mounts to MinecraftServer
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
Due: shulker-crds

feat(shulker-operator): add custom volume and volume mounts to created MinecraftServer
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
Due: shulker-operator

docs: add mounting volumes recipe
  docs/src/next/guide/recipes/overriding-pod-properties.md
Due: none

feat: support mounting custom volumes to servers (#281)
  docs/src/next/guide/recipes/overriding-pod-properties.md
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
Due: shulker-crds, shulker-operator

fix: regenerate crds
  examples/mounting-volumes/cluster.yaml
  examples/mounting-volumes/kustomization.yaml
  examples/mounting-volumes/minecraftserver.yaml
  examples/with-custom-configuration/cluster.yaml
  examples/with-custom-configuration/minecraftserver.yaml
  examples/with-custom-configuration/proxy.yaml
  examples/with-proxy-protocol/cluster.yaml
  examples/with-proxy-protocol/proxy.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
Due: none

chore: add settings.gradle.kts to java:dependencies Nx group
  nx.json
  package.json
Due: none

chore: fix package-lock.json
  commitlint.config.cjs
  package-lock.json
  scripts/generate_codecov_config.cjs
Due: none

chore(release): 0.5.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  13a7ac01d1276c47511666a34f699f8aab9c5340
Due: none

Revert "chore(release): 0.5.0 [skip ci]"
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  f166cbdd6aa209d822fcd83318ffa40904725be3
Due: none

chore: fix Shields badges on README
  README.md
Due: none

docs: promote next to latest
  docs/src/latest/guide/recipes/overriding-pod-properties.md
  docs/src/latest/guide/recipes/using-custom-server-jar.md
  docs/src/latest/sidebar.mts
Due: none

ci(docs): fix version of deploy-pages action
  .github/workflows/docs.yml
Due: none

ci(release): add concurrency block
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

fix(shulker-operator): do not let Agones map the server ports
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

fix(shulker-operator): do not let Agones map the server ports (#330)
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

chore(release): 0.5.1 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  fb1191197df52f2cc57f2bea2a0afc5283129acf
Due: none

ci: publish helm charts in GitHub Pages
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

Create CNAME
  CNAME
Due: none

ci(docs): fix permission
  .github/workflows/docs.yml
Due: none

chore: update Helm repository
  helm-charts/index.yaml
  helm-charts/shulker-operator-0.1.0.tgz
Due: none
