Repository jeremylvln/Shulker: changes, and which Codecov flags are due for each by the changed paths.
All: google-agones-crds, google-open-match-sdk-bindings-rust, shulker-addon-matchmaking, shulker-crds, shulker-kube-utils, shulker-operator, shulker-sdk-bindings-rust, shulker-utils

codecov.yml:

comment:
  layout: reach, diff, flags, files
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default: {}
      google-agones-crds:
        flags:
          - google-agones-crds
      google-open-match-sdk-bindings-rust:
        flags:
          - google-open-match-sdk-bindings-rust
      shulker-addon-matchmaking:
        flags:
          - shulker-addon-matchmaking
      shulker-crds:
        flags:
          - shulker-crds
      shulker-kube-utils:
        flags:
          - shulker-kube-utils
      shulker-operator:
        flags:
          - shulker-operator
      shulker-sdk-bindings-rust:
        flags:
          - shulker-sdk-bindings-rust
      shulker-utils:
        flags:
          - shulker-utils
flags:
  google-agones-crds:
    paths:
      - packages/google-agones-crds
    carryforward: true
  google-open-match-sdk-bindings-rust:
    paths:
      - packages/google-open-match-sdk/bindings/rust
    carryforward: true
  shulker-addon-matchmaking:
    paths:
      - packages/shulker-addon-matchmaking
    carryforward: true
  shulker-crds:
    paths:
      - packages/shulker-crds
    carryforward: true
  shulker-kube-utils:
    paths:
      - packages/shulker-kube-utils
    carryforward: true
  shulker-operator:
    paths:
      - packages/shulker-operator
    carryforward: true
  shulker-sdk-bindings-rust:
    paths:
      - packages/shulker-sdk/bindings/rust
    carryforward: true
  shulker-utils:
    paths:
      - packages/shulker-utils
    carryforward: true

feat: add Minestom to `bug_report.yml`
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: add Minestom to `bug_report.yml` (#651)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: update README sponsors
  README.md
Due: none

fix(shulker-server-agent): using correct Minestom event to set player as admin
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/minestom/ServerInterfaceMinestom.kt
Due: none

fix(shulker-server-agent): using correct Minestom event to set player as admin (#741)
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/minestom/ServerInterfaceMinestom.kt
Due: none

chore(deps): upgrade Nx
  nx.json
  package.json
  pnpm-lock.yaml
Due: none

chore: fix build after kube-rs bump
  Cargo.lock
  Cargo.toml
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-operator

chore(deps): upgrade Buf GRPC dependencies
  buf.lock
  buf.yaml
Due: none

fix(shulker-proxy-agent): ingress IP can be null
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
Due: none

feat(shulker-server-agent): add setReady method to api
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/api/ShulkerServerAPIImpl.kt
  packages/shulker-server-api/src/main/java/io/shulkermc/serveragent/api/ShulkerServerAPI.java
Due: none

Fix typo
  docs/src/next/guide/index.md
Due: none

ci: update Rust version and build tarpaulin manually
  .github/workflows/ci.yml
  Cargo.toml
Due: none

fix(shulker-operator): upgrade itzg docker images
  packages/shulker-operator/src/constants.rs
Due: shulker-operator

fix(shulker-operator): fixed unit tests after version bump
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

fix(shulker-operator): fixed another unit tests after version bump
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

fix(shulker-operator): upgrade itzg docker images (#823)
  packages/shulker-operator/src/constants.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

chore(release): 0.12.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  306d7075d05c21d0a04fbe740c8fec95061f18fe
Due: none

feat(shulker-server-agent): add watchGameServer method to api
  packages/google-agones-sdk/bindings/java/src/main/java/com/agones/dev/sdk/AgonesSDK.java
  packages/google-agones-sdk/bindings/java/src/main/java/com/agones/dev/sdk/AgonesSDKImpl.java
  packages/shulker-server-agent/build.gradle.kts
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/api/ShulkerServerAPIImpl.kt
  packages/shulker-server-api/build.gradle.kts
  packages/shulker-server-api/src/main/java/io/shulkermc/serveragent/api/ShulkerServerAPI.java
Due: none

chore: update Helm repository
  helm-charts/index.yaml
  helm-charts/shulker-operator-0.12.0.tgz
Due: none

fix(shulker-proxy-agent): ingress IP can be null (#749)
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
Due: none

docs: fix typo
  docs/src/next/guide/index.md
Due: none

fix(deps): update kube-rs, k8s-openapi and thiserror crates
  Cargo.lock
  Cargo.toml
  packages/shulker-addon-matchmaking/src/queue_registry.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/external_servers_config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/forwarding_secret.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/headless_service.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_role_binding.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_service_account.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/proxy_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/proxy_role_binding.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/proxy_service_account.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_service.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_stateful_set.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fleet_autoscaler.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet_autoscaler.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/service.rs
Due: shulker-addon-matchmaking, shulker-operator

Update gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
Due: shulker-operator

Update shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
Due: shulker-operator

Update shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

Update build_docker.cjs
  scripts/build_docker.cjs
Due: none

Update minecraft_server.rs
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
Due: shulker-crds

Update mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/mod.rs
Due: shulker-operator
