Repository jeremylvln/Shulker: changes, and which Codecov flags are due for each by the changed paths.
All: google-agones-crds, google-open-match-sdk-bindings-rust, shulker-addon-matchmaking, shulker-crds, shulker-kube-utils, shulker-operator, shulker-sdk-bindings-rust, shulker-utils

chore(release): 0.9.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  11435cc0302f2124fe022daed53a4542abdc7a09
Due: none

chore: update Helm repository
  helm-charts/index.yaml
  helm-charts/shulker-operator-0.9.0.tgz
Due: none

fix(shulker-proxy-agent): watch any service updates to update the external address
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/KubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
Due: none

fix(shulker-proxy-agent): crash when LoadBalancer service does not have any ingress in status
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
Due: none

feat(shulker-operator): allow proxy to watch fleet service
  packages/shulker-operator/src/reconcilers/minecraft_cluster/proxy_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__proxy_role__tests__build_snapshot.snap
Due: shulker-operator

fix(shulker-proxy-agent): crash when LoadBalancer service does not have any ingress in status (#627)
  packages/shulker-operator/src/reconcilers/minecraft_cluster/proxy_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__proxy_role__tests__build_snapshot.snap
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/KubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
Due: shulker-operator

fix(shulker-proxy-agent): do not watch service if preferred address is provided
  Cargo.lock
  packages/shulker-operator/src/reconcilers/minecraft_cluster/proxy_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__proxy_role__tests__build_snapshot.snap
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
Due: shulker-operator

feat(shulker-proxy-agent): expose player teleporting in API
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/pubsub/PubSubAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/pubsub/RedisPubSubAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/api/ShulkerProxyAPIImpl.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/commands/CommandHandlerHelper.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/commands/FindCommandHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/commands/TeleportCommandHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/handlers/TeleportPlayerOnServerHandler.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
  packages/shulker-proxy-api/src/main/java/io/shulkermc/proxyagent/api/ShulkerProxyAPI.java
Due: none

feat(shulker-proxy-agent): expose player teleporting in API (#629)
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/pubsub/PubSubAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/pubsub/RedisPubSubAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/api/ShulkerProxyAPIImpl.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/commands/CommandHandlerHelper.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/commands/FindCommandHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/commands/TeleportCommandHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/handlers/TeleportPlayerOnServerHandler.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
  packages/shulker-proxy-api/src/main/java/io/shulkermc/proxyagent/api/ShulkerProxyAPI.java
Due: none

feat(shulker-proxy-agent): watch external servers and register them
  packages/shulker-proxy-agent/build.gradle.kts
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/FileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/LocalFileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ServerDirectoryService.kt
  settings.gradle.kts
Due: none

feat(shulker-operator): create configmap with external servers and mount on proxies
  packages/shulker-operator/src/reconcilers/minecraft_cluster/external_servers_config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__external_servers_config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

feat(shulker-crds): add external_servers to cluster
  kube/helm/templates/crds/shulkermc.io_minecraftclusters.yaml
  packages/shulker-crds/src/v1alpha1/minecraft_cluster.rs
Due: shulker-crds

style: fix lint
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/FileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/LocalFileSystemAdapter.kt
Due: none

feat: support providing external servers (#631)
  kube/helm/templates/crds/shulkermc.io_minecraftclusters.yaml
  packages/shulker-crds/src/v1alpha1/minecraft_cluster.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/external_servers_config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__external_servers_config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-proxy-agent/build.gradle.kts
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/FileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/LocalFileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ServerDirectoryService.kt
  settings.gradle.kts
Due: shulker-crds, shulker-operator

refactor(shulker-proxy-agent): factory function to create InetSocketAddress
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/Configuration.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/LocalFileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ServerDirectoryService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/utils/InetSocketAddressExt.kt
Due: none

chore(release): 0.10.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  c41c2e25e31c036a4f3c176ff98f3ef8c950c203
Due: none

chore: update Helm repository
  helm-charts/index.yaml
  helm-charts/shulker-operator-0.10.0.tgz
Due: none

feat(shulker-server-agent): create agent library for Minestom
  build.gradle.kts
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/paper/ServerInterfaceMinestom.kt
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/paper/ShulkerServerAgentMinestom.kt
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/paper/config/PaperConfiguration.kt
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/paper/config/ServerProperties.kt
  settings.gradle.kts
Due: none

feat(shulker-crds): add Minestom in version channels
  Cargo.lock
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
Due: shulker-crds

feat(shulker-operator): mimic Paper server when channel is Minestom
  packages/shulker-operator/assets/server-init-fs.sh
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
Due: shulker-operator

fix(shulker-server-agent): add support for BungeeCord proxy
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/paper/ShulkerServerAgentMinestom.kt
Due: none

feat(shulker-operator): validate MinecraftServerSpec on reconciling
  packages/shulker-kube-utils/src/reconcilers/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__build_snapshot.snap
Due: shulker-kube-utils, shulker-operator

feat: add first-party support for Minestom servers (#634)
  Cargo.lock
  build.gradle.kts
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-kube-utils/src/reconcilers/mod.rs
  packages/shulker-operator/assets/server-init-fs.sh
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/paper/ServerInterfaceMinestom.kt
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/paper/ShulkerServerAgentMinestom.kt
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/paper/config/PaperConfiguration.kt
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/paper/config/ServerProperties.kt
  settings.gradle.kts
Due: shulker-crds, shulker-kube-utils, shulker-operator

feat: add minestom-demo implementation
  build.gradle.kts
  packages/shulker-proxy-agent/build.gradle.kts
  packages/shulker-server-agent/build.gradle.kts
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/minestom/ServerInterfaceMinestom.kt
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/minestom/ShulkerServerAgentMinestom.kt
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/minestom/config/PaperConfiguration.kt
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/serveragent/minestom/config/ServerProperties.kt
  packages/shulker-server-minestom-demo/build.gradle.kts
  packages/shulker-server-minestom-demo/project.json
  packages/shulker-server-minestom-demo/src/main/kotlin/io/shulkermc/minestomdemo/MinestomDemo.kt
  settings.gradle.kts
Due: none

chore: add local example to ignore file
  .gitignore
Due: none

style: fix lint
  packages/shulker-proxy-agent/build.gradle.kts
Due: none

chore: update README sponsors
  README.md
Due: none

chore(shulker-server-minestom-demo): fix project dependency
  packages/shulker-server-minestom-demo/build.gradle.kts
Due: none

ci: migration from Artifactory to Nexus
  .github/workflows/release.yml
  build.gradle.kts
  packages/shulker-operator/src/constants.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-server-minestom-demo/build.gradle.kts
Due: shulker-operator

chore(release): 0.11.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  77818cc89c34bae5528f63a68ce43070a091d3f0
Due: none

chore: update Helm repository
  helm-charts/index.yaml
  helm-charts/shulker-operator-0.11.0.tgz
Due: none

fix(shulker-proxy-agent): verify player version before sending a transfer packet
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
Due: none

fix(shulker-proxy-agent): verify player version before sending a transfer packet (#644)
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
Due: none

feat: support the override of agones health check in proxy and minecraft template
  docs/src/next/guide/recipes/overriding-pod-properties.md
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  kube/helm/templates/crds/shulkermc.io_proxyfleets.yaml
  packages/google-agones-crds/src/v1/game_server.rs
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: google-agones-crds, shulker-crds, shulker-operator

Path conditions:
  google-agones-crds: any of: packages/google-agones-crds
  google-open-match-sdk-bindings-rust: any of: packages/google-open-match-sdk/bindings/rust
  shulker-addon-matchmaking: any of: packages/shulker-addon-matchmaking
  shulker-crds: any of: packages/shulker-crds
  shulker-kube-utils: any of: packages/shulker-kube-utils
  shulker-operator: any of: packages/shulker-operator
  shulker-sdk-bindings-rust: any of: packages/shulker-sdk/bindings/rust
  shulker-utils: any of: packages/shulker-utils
