Repository jeremylvln/Shulker: changes, and which Codecov flags are due for each by the changed paths.
All: google-agones-crds, google-agones-sdk-bindings-java, google-agones-sdk-bindings-rust, google-open-match-sdk-bindings-java, google-open-match-sdk-bindings-rust, shulker-addon-matchmaking, shulker-cli, shulker-crds, shulker-kube-utils, shulker-operator, shulker-proxy-agent, shulker-proxy-api, shulker-sdk-bindings-java, shulker-sdk-bindings-rust, shulker-server-agent, shulker-server-api, shulker-server-minestom-demo, shulker-utils

codecov.yml:

comment:
  layout: reach, diff, flags, files
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default: {}
      google-agones-crds:
        flags:
          - google-agones-crds
      google-agones-sdk-bindings-java:
        flags:
          - google-agones-sdk-bindings-java
      google-agones-sdk-bindings-rust:
        flags:
          - google-agones-sdk-bindings-rust
      google-open-match-sdk-bindings-java:
        flags:
          - google-open-match-sdk-bindings-java
      google-open-match-sdk-bindings-rust:
        flags:
          - google-open-match-sdk-bindings-rust
      shulker-addon-matchmaking:
        flags:
          - shulker-addon-matchmaking
      shulker-cli:
        flags:
          - shulker-cli
      shulker-crds:
        flags:
          - shulker-crds
      shulker-kube-utils:
        flags:
          - shulker-kube-utils
      shulker-operator:
        flags:
          - shulker-operator
      shulker-proxy-agent:
        flags:
          - shulker-proxy-agent
      shulker-proxy-api:
        flags:
          - shulker-proxy-api
      shulker-sdk-bindings-java:
        flags:
          - shulker-sdk-bindings-java
      shulker-sdk-bindings-rust:
        flags:
          - shulker-sdk-bindings-rust
      shulker-server-agent:
        flags:
          - shulker-server-agent
      shulker-server-api:
        flags:
          - shulker-server-api
      shulker-server-minestom-demo:
        flags:
          - shulker-server-minestom-demo
      shulker-utils:
        flags:
          - shulker-utils
flags:
  google-agones-crds:
    paths:
      - packages/google-agones-crds
    carryforward: true
  google-agones-sdk-bindings-java:
    paths:
      - packages/google-agones-sdk/bindings/java
    carryforward: true
  google-agones-sdk-bindings-rust:
    paths:
      - packages/google-agones-sdk/bindings/rust
    carryforward: true
  google-open-match-sdk-bindings-java:
    paths:
      - packages/google-open-match-sdk/bindings/java
    carryforward: true
  google-open-match-sdk-bindings-rust:
    paths:
      - packages/google-open-match-sdk/bindings/rust
    carryforward: true
  shulker-addon-matchmaking:
    paths:
      - packages/shulker-addon-matchmaking
    carryforward: true
  shulker-cli:
    paths:
      - packages/shulker-cli
    carryforward: true
  shulker-crds:
    paths:
      - packages/shulker-crds
    carryforward: true
  shulker-kube-utils:
    paths:
      - packages/shulker-kube-utils
    carryforward: true
  shulker-operator:
    paths:
      - packages/shulker-operator
    carryforward: true
  shulker-proxy-agent:
    paths:
      - packages/shulker-proxy-agent
    carryforward: true
  shulker-proxy-api:
    paths:
      - packages/shulker-proxy-api
    carryforward: true
  shulker-sdk-bindings-java:
    paths:
      - packages/shulker-sdk/bindings/java
    carryforward: true
  shulker-sdk-bindings-rust:
    paths:
      - packages/shulker-sdk/bindings/rust
    carryforward: true
  shulker-server-agent:
    paths:
      - packages/shulker-server-agent
    carryforward: true
  shulker-server-api:
    paths:
      - packages/shulker-server-api
    carryforward: true
  shulker-server-minestom-demo:
    paths:
      - packages/shulker-server-minestom-demo
    carryforward: true
  shulker-utils:
    paths:
      - packages/shulker-utils
    carryforward: true

fix: proxy script in server init
  packages/shulker-operator/assets/server-init-fs.sh
  scripts/upload_codecov_files.sh
Due: shulker-operator

fix(shulker-operator): ignore replicas field if autoscaling is enabled
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-operator

feat(shulker-e2e): it works
  .github/actions/install-tools/action.yml
  packages/shulker-e2e/jest.config.js
  packages/shulker-e2e/jest.typestripping.mjs
  packages/shulker-e2e/package.json
  packages/shulker-e2e/project.json
  packages/shulker-e2e/src/01-getting-started-example.test.ts
  packages/shulker-e2e/src/global-setup.ts
  packages/shulker-e2e/src/global-teardown.ts
  packages/shulker-e2e/src/setup.ts
  packages/shulker-e2e/src/utils-cluster.ts
  packages/shulker-e2e/src/utils.ts
  packages/shulker-e2e/tsconfig.json
  pnpm-lock.yaml
  scripts/build_docker.cjs
Due: none

feat: work
  kube/helm/charts/shulker-addon-matchmaking/values.yaml
  kube/helm/values.yaml
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/Configuration.kt
  packages/shulker-e2e/jest.config.js
  packages/shulker-e2e/jest.failfast.mjs
  packages/shulker-e2e/package.json
  packages/shulker-e2e/src/01-getting-started-example.test.ts
  packages/shulker-e2e/src/global-setup.ts
  packages/shulker-e2e/src/setup/global-setup.ts
  packages/shulker-e2e/src/setup/global-teardown.ts
  packages/shulker-e2e/src/utils-cluster.ts
  packages/shulker-e2e/src/utils/index.ts
  packages/shulker-e2e/src/utils/kubernetes-helm.ts
  packages/shulker-e2e/src/utils/kubernetes-k3d.ts
  packages/shulker-e2e/src/utils/kubernetes-logs.ts
  packages/shulker-e2e/src/utils/kubernetes-prepare.ts
  packages/shulker-e2e/src/utils/kubernetes-watch.ts
  packages/shulker-e2e/src/utils/kubernetes.ts
  packages/shulker-e2e/src/utils/process.ts
  packages/shulker-e2e/src/utils/types.ts
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxy/Configuration.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxy/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxy/handlers/DrainProxyHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxy/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxy/tasks/HealthcheckTask.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxy/tasks/LostProxyPurgeTask.kt
  pnpm-lock.yaml
Due: shulker-operator, shulker-proxy-agent

style: fix lint
  nx.json
  package.json
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/Configuration.kt
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/ShulkerClusterAPIImpl.kt
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/adapters/kubernetes/utils/ObjectReferenceUtils.kt
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/adapters/pubsub/PubSubAdapter.kt
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/adapters/pubsub/RedisPubSubAdapter.kt
  packages/shulker-cluster-api/build.gradle.kts
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxy/Configuration.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxy/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxy/services/ServerDirectoryService.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/server/api/ShulkerServerAPIImpl.kt
  pnpm-lock.yaml
Due: shulker-proxy-agent, shulker-server-agent

Deploying to gh-pages from @ jeremylvln/Shulker@6fae777d8669cc73b11d2196bcfa9c74e7beabb2 🚀
  404.html
  assets/app.BS6dqjfR.js
  assets/app.CkvTAo_J.js
  assets/chunks/@localSearchIndexroot.CmWzhUc9.js
  assets/chunks/@localSearchIndexroot.DWq9ytfO.js
  assets/chunks/VPLocalSearchBox.B7Qzqmm4.js
  assets/chunks/VPLocalSearchBox.Ct_L1AOY.js
  assets/chunks/theme.BfSCPRRz.js
  assets/chunks/theme.qfJl_vxl.js
  assets/style.BadvqeZd.css
  assets/style.D-wJIfoo.css
  index.html
  latest/guide/addons/matchmaking.html
  latest/guide/addons/what-are-addons.html
  latest/guide/architecture.html
  latest/guide/getting-started/installation.html
  latest/guide/getting-started/prerequisites.html
  latest/guide/getting-started/your-first-cluster.html
  latest/guide/index.html
  latest/guide/recipes/adding-custom-content.html
  latest/guide/recipes/defining-network-administrators.html
  latest/guide/recipes/enabling-proxy-protocol.html
  latest/guide/recipes/overriding-pod-properties.html
  latest/guide/recipes/using-custom-server-jar.html
  latest/sdk/index.html
  next/guide/addons/matchmaking.html
  next/guide/addons/what-are-addons.html
  next/guide/architecture.html
  next/guide/getting-started/installation.html
  next/guide/getting-started/prerequisites.html
  next/guide/getting-started/your-first-cluster.html
  next/guide/index.html
  next/guide/recipes/adding-custom-content.html
  next/guide/recipes/defining-network-administrators.html
  next/guide/recipes/enabling-proxy-protocol.html
  next/guide/recipes/overriding-pod-properties.html
  next/guide/recipes/understanding-lifecycle-strategies.html
  next/guide/recipes/using-custom-server-jar.html
  next/sdk/index.html
Due: none

docs(shulker-cluster-api): write javadoc
  packages/shulker-cluster-api/src/main/java/io/shulkermc/cluster/api/ShulkerClusterAPI.java
  packages/shulker-cluster-api/src/main/java/io/shulkermc/cluster/api/data/KubernetesObjectRef.kt
  packages/shulker-cluster-api/src/main/java/io/shulkermc/cluster/api/data/MojangProfile.java
  packages/shulker-cluster-api/src/main/java/io/shulkermc/cluster/api/data/PlayerPosition.java
  packages/shulker-cluster-api/src/main/java/io/shulkermc/cluster/api/data/RegisteredProxy.java
  packages/shulker-cluster-api/src/main/java/io/shulkermc/cluster/api/messaging/MessagingBus.java
Due: none

docs(shulker-proxy-api): write javadoc
  packages/shulker-proxy-api/src/main/java/io/shulkermc/proxy/api/ShulkerProxyAPI.java
Due: shulker-proxy-api

docs(shulker-server-api): write javadoc
  packages/shulker-server-api/src/main/java/io/shulkermc/server/api/ShulkerServerAPI.java
Due: shulker-server-api

refactor(shulker-cluster-api-impl): move private data class to impl package
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/ShulkerClusterAPIImpl.kt
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/data/KubernetesObjectRef.kt
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/data/MojangProfile.kt
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/data/RegisteredProxy.kt
Due: none

docs: add javadoc to api packages (#1071)
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/ShulkerClusterAPIImpl.kt
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/data/KubernetesObjectRef.kt
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/data/MojangProfile.kt
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/data/RegisteredProxy.kt
  packages/shulker-cluster-api/src/main/java/io/shulkermc/cluster/api/ShulkerClusterAPI.java
  packages/shulker-cluster-api/src/main/java/io/shulkermc/cluster/api/data/MojangProfile.java
  packages/shulker-cluster-api/src/main/java/io/shulkermc/cluster/api/data/PlayerPosition.java
  packages/shulker-cluster-api/src/main/java/io/shulkermc/cluster/api/data/RegisteredProxy.java
  packages/shulker-cluster-api/src/main/java/io/shulkermc/cluster/api/messaging/MessagingBus.java
  packages/shulker-proxy-api/src/main/java/io/shulkermc/proxy/api/ShulkerProxyAPI.java
  packages/shulker-server-api/src/main/java/io/shulkermc/server/api/ShulkerServerAPI.java
Due: shulker-proxy-api, shulker-server-api

chore: update README sponsors
  README.md
Due: none

fix(shulker-operator): fix tests
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

feat(shulker-operator): properly fallback to 0 replicas if the fleet is just created
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

fix(shulker-operator): ignore replicas field if autoscaling is enabled (#1066)
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-operator

style(shulker-operator): clippy
  packages/shulker-addon-matchmaking/src/reconcilers/matchmaking_queue/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/external_servers_config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_service.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_stateful_set.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/redis_ref.rs
Due: shulker-addon-matchmaking, shulker-operator

style(shulker-operator): clippy (#1072)
  packages/shulker-addon-matchmaking/src/reconcilers/matchmaking_queue/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/external_servers_config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_service.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_stateful_set.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/redis_ref.rs
Due: shulker-addon-matchmaking, shulker-operator

fix: merge issue
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
Due: shulker-operator

feat: work but pubsub seems broken
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/ShulkerClusterAPIImpl.kt
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/adapters/cache/RedisCacheAdapter.kt
  packages/shulker-cluster-api-impl/src/main/kotlin/io/shulkermc/cluster/api/adapters/pubsub/RedisPubSubAdapter.kt
  packages/shulker-cluster-api/src/main/java/io/shulkermc/cluster/api/ShulkerClusterAPI.java
  packages/shulker-proxy-agent/build.gradle.kts
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxy/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxy/bungeecord/ShulkerProxyAgentBungeeCord.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxy/bungeecord/commands/GlobalKickCommand.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxy/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxy/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxy/commands/KickCommandHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxy/handlers/DisconnectPlayerFromClusterHandler.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxy/velocity/ProxyInterfaceVelocity.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxy/velocity/ShulkerProxyAgentVelocity.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxy/velocity/commands/GlobalKickCommand.kt
  packages/shulker-server-agent/build.gradle.kts
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/server/ShulkerServerAgentCommon.kt
  packages/shulker-server-agent/src/paper/kotlin/io/shulkermc/server/paper/ShulkerServerAgentPaper.kt
  packages/shulker-server-agent/src/paper/resources/plugin.yml
Due: shulker-proxy-agent, shulker-server-agent

fix: missing import
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  scripts/upload_codecov_files.sh
Due: shulker-operator

fix: missing import
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
Due: shulker-operator

Fix typo in prerequisites.md
  docs/src/next/guide/getting-started/prerequisites.md
Due: none

chore(deps): update net.minestom:minestom to 2025.10.05-1.21.8
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/server/minestom/ShulkerServerAgentMinestom.kt
  settings.gradle.kts
Due: shulker-server-agent

fix(shulker-server-agent): replace `var` with `val` as requested by review
  packages/shulker-server-agent/src/minestom/kotlin/io/shulkermc/server/minestom/ShulkerServerAgentMinestom.kt
Due: shulker-server-agent

feat: add support for service labels
  kube/helm/templates/service.yaml
  kube/helm/values.yaml
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/service.rs
Due: shulker-crds, shulker-operator
