Repository jeremylvln/Shulker: changes, and which Codecov flags are due for each by the changed paths.
All: google-agones-sdk-bindings-java, shulker-sdk-bindings-rust, shulker-sdk-bindings-java, shulker-server-agent, shulker-proxy-agent, shulker-server-api, google-agones-crds, google-agones-sdk, shulker-proxy-api, shulker-operator, shulker-utils, shulker-crds, shulker-sdk

codecov.yml:

comment:
  layout: reach, diff, flags, files
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default: {}
      google-agones-sdk-bindings-java:
        flags:
          - google-agones-sdk-bindings-java
      shulker-sdk-bindings-rust:
        flags:
          - shulker-sdk-bindings-rust
      shulker-sdk-bindings-java:
        flags:
          - shulker-sdk-bindings-java
      shulker-server-agent:
        flags:
          - shulker-server-agent
      shulker-proxy-agent:
        flags:
          - shulker-proxy-agent
      shulker-server-api:
        flags:
          - shulker-server-api
      google-agones-crds:
        flags:
          - google-agones-crds
      google-agones-sdk:
        flags:
          - google-agones-sdk
      shulker-proxy-api:
        flags:
          - shulker-proxy-api
      shulker-operator:
        flags:
          - shulker-operator
      shulker-utils:
        flags:
          - shulker-utils
      shulker-crds:
        flags:
          - shulker-crds
      shulker-sdk:
        flags:
          - shulker-sdk
flags:
  google-agones-sdk-bindings-java:
    paths:
      - packages/google-agones-sdk/bindings/java
    carryforward: true
  shulker-sdk-bindings-rust:
    paths:
      - packages/shulker-sdk/bindings/rust
    carryforward: true
  shulker-sdk-bindings-java:
    paths:
      - packages/shulker-sdk/bindings/java
    carryforward: true
  shulker-server-agent:
    paths:
      - packages/shulker-server-agent
    carryforward: true
  shulker-proxy-agent:
    paths:
      - packages/shulker-proxy-agent
    carryforward: true
  shulker-server-api:
    paths:
      - packages/shulker-server-api
    carryforward: true
  google-agones-crds:
    paths:
      - packages/google-agones-crds
    carryforward: true
  google-agones-sdk:
    paths:
      - packages/google-agones-sdk
    carryforward: true
  shulker-proxy-api:
    paths:
      - packages/shulker-proxy-api
    carryforward: true
  shulker-operator:
    paths:
      - packages/shulker-operator
    carryforward: true
  shulker-utils:
    paths:
      - packages/shulker-utils
    carryforward: true
  shulker-crds:
    paths:
      - packages/shulker-crds
    carryforward: true
  shulker-sdk:
    paths:
      - packages/shulker-sdk
    carryforward: true

chore: fix release Cargo.toml match
  Cargo.toml
  gradle.properties
Due: none

chore: fix release Cargo.toml match
  .releaserc.cjs
Due: none

chore(release): 0.3.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/overlays/stable-with-prometheus/kustomization.yaml
  kube/overlays/stable/kustomization.yaml
  package.json
Due: none

Notes added by 'git notes add'
  b5cd15a297d17a121936d8ccc5586196cd518714
Due: none

build: correctly ignore packages folder as Gradle project
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.main.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.bungeecord.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.common.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.main.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.velocity.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.main.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.test.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk-bindings-java.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk-bindings-java.main.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk-bindings-java.test.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.common.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.main.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.paper.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.test.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.main.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.test.iml
  .idea/modules/packages/shulker.packages.iml
  .idea/modules/packages/shulker.packages.main.iml
  .idea/modules/packages/shulker.packages.test.iml
  .idea/modules/shulker.iml
  .idea/modules/shulker.main.iml
  .idea/modules/shulker.test.iml
  build.gradle.kts
Due: none

test(shulker-operator): fix snapshots
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.main.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.bungeecord.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.common.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.main.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.velocity.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.main.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.test.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk-bindings-java.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk-bindings-java.main.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk-bindings-java.test.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.common.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.main.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.paper.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.test.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.main.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.test.iml
  .idea/modules/packages/shulker.packages.iml
  .idea/modules/shulker.iml
  .idea/modules/shulker.main.iml
  .idea/modules/shulker.test.iml
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

docs: add section about player sync
  docs/src/guide/architecture.md
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
Due: shulker-operator

docs: fix typo
  docs/src/guide/getting-started/installation.md
Due: none

docs: fix typo (#193)
  docs/src/guide/getting-started/installation.md
Due: none

feat(shulker-server-agent): hybrid support between paper and folia
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.paper.iml
  build.gradle.kts
  packages/shulker-server-agent/src/paper/kotlin/io/shulkermc/serveragent/paper/ServerInterfacePaper.kt
  packages/shulker-server-agent/src/paper/resources/plugin.yml
Due: shulker-server-agent

feat(shulker-operator): add support for folia
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-operator/assets/server-init-fs.sh
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__build_snapshot.snap
Due: shulker-operator, shulker-crds

chore: generate crds
  kube/resources/crd/bases/shulkermc.io_minecraftserverfleets.yaml
  kube/resources/crd/bases/shulkermc.io_minecraftservers.yaml
Due: none

fix(shulker-operator): prevent proxy connections only if LoadBalancer or NodePort service
  packages/shulker-crds/src/v1alpha1/minecraft_server_fleet.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
Due: shulker-operator, shulker-crds

test(shulker-operator): simplify proxy connection tests
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
Due: shulker-operator

ci: release docker images on next when pushing on main
  .github/workflows/release.yml
Due: none

refactor(shulker-proxy-agent): rework command management
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ShulkerProxyAgentBungeeCord.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/BungeeCordCommandHelper.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalFindCommand.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalListCommand.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalTeleportCommand.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/commands/CommandHandlerHelper.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/commands/FindCommandHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/commands/ListCommandHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/commands/TeleportCommandHandler.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ShulkerProxyAgentVelocity.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/commands/GlobalFindCommand.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/commands/GlobalListCommand.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/commands/GlobalTeleportCommand.kt
Due: shulker-proxy-agent

feat(shulker-crds): add network admins list to cluster
  kube/resources/crd/bases/shulkermc.io_minecraftclusters.yaml
  packages/shulker-crds/src/v1alpha1/minecraft_cluster.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/fixtures.rs
Due: shulker-operator, shulker-crds

feat(shulker-operator): inject SHULKER_NETWORK_ADMINS env to proxies and servers
  packages/shulker-operator/src/reconcilers/minecraft_cluster/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

feat(shulker-proxy-agent): grant all permissions to network admins
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/Configuration.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/AdminPermissionProvider.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
Due: shulker-proxy-agent

refactor(shulker-proxy-agent,shulker-server-agent): make network admins optional
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/Configuration.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/Configuration.kt
Due: shulker-server-agent, shulker-proxy-agent

feat(shulker-server-agent): grant network admins as operators
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/Configuration.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ServerInterface.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ShulkerServerAgentCommon.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/tasks/HealthcheckTask.kt
  packages/shulker-server-agent/src/paper/kotlin/io/shulkermc/serveragent/paper/ServerInterfacePaper.kt
Due: shulker-server-agent, shulker-proxy-agent

docs: add section about network admins
  docs/src/.vitepress/config.mts
  docs/src/guide/recipes/defining-network-administrators.md
  kube/resources/crd/bases/shulkermc.io_minecraftclusters.yaml
Due: none

fix(shulker-operator): network admins are optional
  packages/shulker-crds/src/v1alpha1/minecraft_cluster.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-operator, shulker-crds

chore: config renovate to not pin cargo dependencies
  .github/renovate.json
Due: none

chore: unpin deps in Cargo.toml
  Cargo.toml
Due: none

chore: update deps
  Cargo.lock
Due: none

chore: clean up workspace deps resolution and remove duplicated info
  Cargo.toml
  packages/google-agones-crds/Cargo.toml
  packages/shulker-crds/Cargo.toml
  packages/shulker-operator/Cargo.toml
  packages/shulker-utils/Cargo.toml
Due: google-agones-crds, shulker-operator, shulker-utils, shulker-crds

feat: remove usage of macro_use
  packages/shulker-operator/src/lease.rs
  packages/shulker-operator/src/lib.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_stateful_set.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-operator

feat: remove usage of macro_use (#197)
  packages/shulker-operator/src/lease.rs
  packages/shulker-operator/src/lib.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_stateful_set.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-operator

fix(shulker-proxy-agent): use a dedicated thread pool for redis pubsub
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/pubsub/RedisPubSubAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/commands/ListCommandHandler.kt
Due: shulker-proxy-agent

chore(shulker-proxy-agent): fix usage of gtp command in bungeecord
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.paper.iml
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalTeleportCommand.kt
Due: shulker-proxy-agent

chore(deps): bump grpc packages and buf generator
  packages/google-agones-sdk/bindings/java/build.gradle.kts
  packages/google-agones-sdk/buf.gen.yaml
  packages/shulker-proxy-agent/build.gradle.kts
  packages/shulker-sdk/bindings/java/build.gradle.kts
  packages/shulker-sdk/buf.gen.yaml
  packages/shulker-server-agent/build.gradle.kts
Due: google-agones-sdk-bindings-java, shulker-sdk-bindings-java, shulker-server-agent, shulker-proxy-agent, google-agones-sdk, shulker-sdk

chore(deps): unpin Cargo dependencies
  Cargo.toml
  packages/google-agones-crds/Cargo.toml
  packages/shulker-crds/Cargo.toml
  packages/shulker-operator/Cargo.toml
Due: google-agones-crds, shulker-operator, shulker-crds

feat(google-open-match-sdk): create auto-generated sdk
  Cargo.lock
  Cargo.toml
  codecov.yml
  packages/google-agones-sdk/buf.work.yaml
  packages/google-open-match-sdk/.gitignore
  packages/google-open-match-sdk/bindings/rust/Cargo.toml
  packages/google-open-match-sdk/bindings/rust/project.json
  packages/google-open-match-sdk/bindings/rust/src/lib.rs
  packages/google-open-match-sdk/bindings/rust/tarpaulin.toml
  packages/google-open-match-sdk/buf.gen.yaml
  packages/google-open-match-sdk/buf.work.yaml
  packages/google-open-match-sdk/project.json
  packages/google-open-match-sdk/proto/api/backend.proto
  packages/google-open-match-sdk/proto/api/evaluator.proto
  packages/google-open-match-sdk/proto/api/extensions.proto
  packages/google-open-match-sdk/proto/api/frontend.proto
  packages/google-open-match-sdk/proto/api/match-function.proto
  packages/google-open-match-sdk/proto/api/messages.proto
  packages/google-open-match-sdk/proto/api/query.proto
  packages/google-open-match-sdk/proto/buf.lock
  packages/google-open-match-sdk/proto/buf.yaml
  packages/shulker-addon-matchmaking/Cargo.toml
  packages/shulker-addon-matchmaking/project.json
  packages/shulker-addon-matchmaking/src/lib.rs
  packages/shulker-addon-matchmaking/tarpaulin.toml
  packages/shulker-sdk/buf.work.yaml
  scripts/upload_codecov_files.sh
Due: google-agones-sdk, shulker-sdk

test(shulker-kube-utils): fix tarpaulin config
  packages/shulker-kube-utils/tarpaulin.toml
Due: none

fix(shulker-proxy-agent): correctly create Jedis pool with credentials
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.main.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.bungeecord.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.common.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.velocity.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk-bindings-java.main.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk-bindings-java.test.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.common.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.paper.iml
  codecov.yml
  packages/shulker-operator/src/reconcilers/redis_ref.rs
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/Configuration.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  scripts/upload_codecov_files.sh
Due: shulker-proxy-agent, shulker-operator

test(shulker-addon-matchmaking): cover batch mmf
  Cargo.lock
  Cargo.toml
  packages/shulker-addon-matchmaking/Cargo.toml
  packages/shulker-addon-matchmaking/src/bin/director.rs
  packages/shulker-addon-matchmaking/src/extensions.rs
  packages/shulker-addon-matchmaking/src/mmf/batch.rs
  packages/shulker-addon-matchmaking/src/mmf/fixtures.rs
  packages/shulker-addon-matchmaking/src/mmf/mod.rs
  packages/shulker-addon-matchmaking/src/mmf/registry.rs
  packages/shulker-addon-matchmaking/src/mmf/utils.rs
  packages/shulker-addon-matchmaking/src/queue_registry.rs
Due: none
