Repository jeremylvln/Shulker: changes, and which Codecov flags are due for each by the changed paths.
All: google-agones-crds, google-open-match-sdk-bindings-rust, shulker-addon-matchmaking, shulker-crds, shulker-kube-utils, shulker-operator, shulker-sdk-bindings-rust, shulker-utils

codecov.yml:

comment:
  layout: reach, diff, flags, files
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default: {}
      google-agones-crds:
        flags:
          - google-agones-crds
      google-open-match-sdk-bindings-rust:
        flags:
          - google-open-match-sdk-bindings-rust
      shulker-addon-matchmaking:
        flags:
          - shulker-addon-matchmaking
      shulker-crds:
        flags:
          - shulker-crds
      shulker-kube-utils:
        flags:
          - shulker-kube-utils
      shulker-operator:
        flags:
          - shulker-operator
      shulker-sdk-bindings-rust:
        flags:
          - shulker-sdk-bindings-rust
      shulker-utils:
        flags:
          - shulker-utils
flags:
  google-agones-crds:
    paths:
      - packages/google-agones-crds
    carryforward: true
  google-open-match-sdk-bindings-rust:
    paths:
      - packages/google-open-match-sdk/bindings/rust
    carryforward: true
  shulker-addon-matchmaking:
    paths:
      - packages/shulker-addon-matchmaking
    carryforward: true
  shulker-crds:
    paths:
      - packages/shulker-crds
    carryforward: true
  shulker-kube-utils:
    paths:
      - packages/shulker-kube-utils
    carryforward: true
  shulker-operator:
    paths:
      - packages/shulker-operator
    carryforward: true
  shulker-sdk-bindings-rust:
    paths:
      - packages/shulker-sdk/bindings/rust
    carryforward: true
  shulker-utils:
    paths:
      - packages/shulker-utils
    carryforward: true

feat(shulker-proxy-agent): release agones server if proxy is empty
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
Due: none

feat: exclude proxy from load balancer when full (#396)
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  kube/helm/templates/crds/shulkermc.io_proxyfleets.yaml
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-operator/assets/proxy-probe-readiness.sh
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/Configuration.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/FileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/LocalFileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyLifecycleService.kt
Due: shulker-crds, shulker-operator

fix(shulker-operator): bump proxy image to fix motd parsing error
  packages/shulker-operator/src/constants.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

fix(shulker-operator): bump proxy image to fix motd parsing error (#397)
  packages/shulker-operator/src/constants.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

chore: bump kube and k8s-openapi crates
  .nvmrc
  Cargo.lock
  Cargo.toml
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_stateful_set.rs
Due: shulker-operator

chore(release): 0.7.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  45c053af559653d41caf89f9f17dc3572ecd5ecb
Due: none

chore: update Helm repository
  helm-charts/index.yaml
  helm-charts/shulker-operator-0.7.0.tgz
Due: none

fix(shulker-operator): set fs group to Redis container to fix persistence permissions
  Cargo.lock
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_stateful_set.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__redis_stateful_set__tests__build_snapshot.snap
Due: shulker-operator

fix(shulker-operator): set fs group to Redis container to fix persistence permissions (#451)
  Cargo.lock
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_stateful_set.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__redis_stateful_set__tests__build_snapshot.snap
Due: shulker-operator

fix(shulker-operator): use existing config maps if given
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-operator

fix(shulker-operator): use existing config maps if given (#452)
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-operator

feat(shulker-crds): add volume and volume mounts overrides to proxy fleet
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
Due: shulker-crds

feat(shulker-operator): inject volume and volume mounts overrides to proxy fleets
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-operator

fix(shulker-operator): properly use image overrides
  .husky/commit-msg
  .husky/pre-commit
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  kube/helm/templates/crds/shulkermc.io_proxyfleets.yaml
  packages/shulker-crds/src/schemas.rs
  packages/shulker-kube-utils/src/lease.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-crds, shulker-kube-utils, shulker-operator

chore: fix version drift between protobuf and buf failing builds
  .github/workflows/ci.yml
  package.json
  packages/google-agones-sdk/buf.gen.yaml
  packages/google-open-match-sdk/buf.gen.yaml
  packages/shulker-sdk/buf.gen.yaml
  settings.gradle.kts
Due: none

feat(shulker-operator): support volume and volume mounts on proxy fleets (#470)
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  kube/helm/templates/crds/shulkermc.io_proxyfleets.yaml
  package.json
  packages/google-agones-sdk/buf.gen.yaml
  packages/google-open-match-sdk/buf.gen.yaml
  packages/shulker-crds/src/schemas.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-kube-utils/src/lease.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-sdk/buf.gen.yaml
  settings.gradle.kts
Due: shulker-crds, shulker-kube-utils, shulker-operator

feat(shulker-operator): add a magic env var to skip any download in init-fs
  packages/shulker-operator/assets/proxy-init-fs.sh
  packages/shulker-operator/assets/server-init-fs.sh
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
Due: shulker-operator

feat(shulker-crds): add skip_agent_download field on server and proxy
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  kube/helm/templates/crds/shulkermc.io_proxyfleets.yaml
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-operator/assets/proxy-init-fs.sh
  packages/shulker-operator/assets/server-init-fs.sh
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
Due: shulker-crds, shulker-operator

feat(shulker-operator): implement config flag to skip downloading agent plugin
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-operator

feat(shulker-operator): add a magic env var to skip any download in init-fs (#479)
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  kube/helm/templates/crds/shulkermc.io_proxyfleets.yaml
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-operator/assets/proxy-init-fs.sh
  packages/shulker-operator/assets/server-init-fs.sh
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
Due: shulker-crds, shulker-operator

fix(shulker-operator): add back fallbacks on init scripts
  packages/shulker-operator/assets/proxy-init-fs.sh
  packages/shulker-operator/assets/proxy-probe-readiness.sh
  packages/shulker-operator/assets/server-init-fs.sh
Due: shulker-operator

fix(shulker-operator): add back fallbacks on init scripts
  Cargo.lock
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
Due: shulker-operator

feat(shulker-crds): add ports in pod overrides
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  kube/helm/templates/crds/shulkermc.io_proxyfleets.yaml
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
Due: shulker-crds, shulker-operator

feat(shulker-operator): inject extra ports
  .husky/pre-commit
  lint-staged.config.mjs
  package.json
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-operator

feat(shulker-operator): support additional ports in overrides (#485)
  .husky/pre-commit
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  kube/helm/templates/crds/shulkermc.io_proxyfleets.yaml
  lint-staged.config.mjs
  package.json
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-crds, shulker-operator

chore(release): 0.8.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  df39b30f0d5efc21daf0c31c06191d6c83bd9109
Due: none

chore: update Helm repository
  helm-charts/index.yaml
  helm-charts/shulker-operator-0.8.0.tgz
Due: none

fix: align protobuf dependencies versions to fix Protobuf crash
  .idea/kotlinc.xml
  settings.gradle.kts
Due: none

fix: align protobuf dependencies versions to fix Protobuf crash
  packages/google-agones-sdk/buf.gen.yaml
  packages/google-open-match-sdk/buf.gen.yaml
  packages/shulker-sdk/buf.gen.yaml
  settings.gradle.kts
Due: none

chore(release): 0.8.1 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  37cf1e39d56e0526b6f85d2b9d050ebc3e365871
Due: none

chore: update Helm repository
  helm-charts/index.yaml
  helm-charts/shulker-operator-0.8.1.tgz
Due: none

docs(prerequisites): typo
  docs/src/next/guide/getting-started/prerequisites.md
Due: none

Change example text
  docs/src/latest/guide/recipes/overriding-pod-properties.md
Due: none

"Mincraft" typo
  docs/src/latest/guide/getting-started/your-first-cluster.md
Due: none

Update your-first-cluster.md in `/next`
  docs/src/next/guide/getting-started/your-first-cluster.md
Due: none

Change example text in `/next`
  docs/src/next/guide/recipes/overriding-pod-properties.md
Due: none
