Repository jeremylvln/Shulker: changes, and which Codecov flags are due for each by the changed paths.
All: google-agones-crds, google-open-match-sdk-bindings-rust, shulker-addon-matchmaking, shulker-crds, shulker-kube-utils, shulker-operator, shulker-sdk-bindings-rust, shulker-utils

codecov.yml:

comment:
  layout: reach, diff, flags, files
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default: {}
      google-agones-crds:
        flags:
          - google-agones-crds
      google-open-match-sdk-bindings-rust:
        flags:
          - google-open-match-sdk-bindings-rust
      shulker-addon-matchmaking:
        flags:
          - shulker-addon-matchmaking
      shulker-crds:
        flags:
          - shulker-crds
      shulker-kube-utils:
        flags:
          - shulker-kube-utils
      shulker-operator:
        flags:
          - shulker-operator
      shulker-sdk-bindings-rust:
        flags:
          - shulker-sdk-bindings-rust
      shulker-utils:
        flags:
          - shulker-utils
flags:
  google-agones-crds:
    paths:
      - packages/google-agones-crds
    carryforward: true
  google-open-match-sdk-bindings-rust:
    paths:
      - packages/google-open-match-sdk/bindings/rust
    carryforward: true
  shulker-addon-matchmaking:
    paths:
      - packages/shulker-addon-matchmaking
    carryforward: true
  shulker-crds:
    paths:
      - packages/shulker-crds
    carryforward: true
  shulker-kube-utils:
    paths:
      - packages/shulker-kube-utils
    carryforward: true
  shulker-operator:
    paths:
      - packages/shulker-operator
    carryforward: true
  shulker-sdk-bindings-rust:
    paths:
      - packages/shulker-sdk/bindings/rust
    carryforward: true
  shulker-utils:
    paths:
      - packages/shulker-utils
    carryforward: true

Revert "Create CNAME"
  CNAME
Due: none

Revert "fix(shulker-operator): do not let Agones map the server ports (#330)"
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

chore(release): 0.5.2 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  d57ea10879a8a9d348ed3f9bf33d97758420936b
Due: none

chore: update Helm repository
  helm-charts/index.yaml
  helm-charts/shulker-operator-0.1.0.tgz
Due: none

fix(shulker-operator): inject proper pod annotation for default container
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

fix(shulker-sdk): already set the Netty library as runtime dependency
  .dockerignore
  .idea/misc.xml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk.main.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk.test.iml
  .idea/modules/packages/google-open-match-sdk/bindings/java/shulker.packages.google-open-match-sdk.iml
  .idea/modules/packages/google-open-match-sdk/bindings/java/shulker.packages.google-open-match-sdk.main.iml
  .idea/modules/packages/google-open-match-sdk/bindings/java/shulker.packages.google-open-match-sdk.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.bungeecord.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.common.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.main.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.velocity.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.main.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.test.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk.main.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk.test.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.common.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.main.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.paper.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.test.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.main.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.test.iml
  .idea/modules/packages/shulker.packages.iml
  .idea/modules/shulker.iml
  .idea/modules/shulker.main.iml
  .idea/modules/shulker.test.iml
  packages/google-agones-sdk/bindings/java/build.gradle.kts
  packages/shulker-proxy-agent/build.gradle.kts
  packages/shulker-sdk/bindings/java/build.gradle.kts
  packages/shulker-server-agent/build.gradle.kts
  settings.gradle.kts
Due: none

fix(shulker-operator): custom server properties not being passed to the server
  packages/shulker-operator/src/reconcilers/minecraft_server/config_map.rs
Due: shulker-operator

chore(release): 0.5.3 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  0f00e7fd9ae754db3b57032f8366a2c9f79b8a57
Due: none

chore: release helm chart 0.5.3
  helm-charts/index.yaml
  helm-charts/shulker-operator-0.5.3.tgz
Due: none

ci: run only cargo-deny in pull requests
  .github/workflows/ci.yml
Due: none

chore(deps): bump h2 to fix vulnerability
  Cargo.lock
Due: none

feat(shulker-crds): add lifecycle strategy to MinecraftServer CRD
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk.main.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk.test.iml
  .idea/modules/packages/google-open-match-sdk/bindings/java/shulker.packages.google-open-match-sdk.iml
  .idea/modules/packages/google-open-match-sdk/bindings/java/shulker.packages.google-open-match-sdk.main.iml
  .idea/modules/packages/google-open-match-sdk/bindings/java/shulker.packages.google-open-match-sdk.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.bungeecord.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.common.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.main.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.velocity.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.main.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.test.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk.main.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk.test.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.common.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.main.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.paper.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.test.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.main.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.test.iml
  .idea/modules/packages/shulker.packages.iml
  .idea/modules/shulker.iml
  .idea/modules/shulker.main.iml
  .idea/modules/shulker.test.iml
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
Due: shulker-crds, shulker-operator

feat(shulker-operator): inject SHULKER_SERVER_LIFECYCLE_STRATEGY env to server
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

feat(shulker-server-agent): implement lifecycle strategies
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.test.iml
  build.gradle.kts
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/Configuration.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ServerInterface.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ShulkerServerAgentCommon.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/platform/HookPostOrder.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/platform/Player.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/platform/PlayerDisconnectHook.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/platform/PlayerLoginHook.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/services/PlayerMovementService.kt
  packages/shulker-server-agent/src/paper/kotlin/io/shulkermc/serveragent/paper/ServerInterfacePaper.kt
  settings.gradle.kts
Due: none

docs: add lifecycle strategies recipe
  docs/src/next/guide/recipes/understanding-lifecycle-strategies.md
  docs/src/next/sidebar.mts
Due: none

chore: fix some warnings
  .idea/detekt.xml
  build.gradle.kts
  docs/src/next/guide/recipes/understanding-lifecycle-strategies.md
  examples/getting-started/minecraftserver.yaml
  examples/getting-started/proxy.yaml
  gradle/detekt-config.yml
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_role.rs
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/mojang/HttpMojangGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyLifecycleService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/tasks/LostProxyPurgeTask.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/Configuration.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ServerInterface.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ShulkerServerAgentCommon.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/platform/Player.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/platform/PlayerDisconnectHook.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/platform/PlayerLoginHook.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/services/PlayerMovementService.kt
  packages/shulker-server-agent/src/paper/kotlin/io/shulkermc/serveragent/paper/ServerInterfacePaper.kt
  settings.gradle.kts
Due: shulker-operator

feat(shulker-operator): create headless service to have all cluster pods inside it
  packages/shulker-operator/src/reconcilers/minecraft_cluster/headless_service.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_service.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__headless_service__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__minecraft_server_headless_service__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__minecraft_server_role__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

chore: fix some warnings
  .idea/detekt.xml
  build.gradle.kts
  docs/src/next/guide/recipes/understanding-lifecycle-strategies.md
  examples/getting-started/minecraftserver.yaml
  examples/getting-started/proxy.yaml
  gradle/detekt-config.yml
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__minecraft_server_role__tests__build_snapshot.snap
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/mojang/HttpMojangGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyLifecycleService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/tasks/LostProxyPurgeTask.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/Configuration.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ServerInterface.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ShulkerServerAgentCommon.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/platform/Player.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/platform/PlayerDisconnectHook.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/platform/PlayerLoginHook.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/services/PlayerMovementService.kt
  packages/shulker-server-agent/src/paper/kotlin/io/shulkermc/serveragent/paper/ServerInterfacePaper.kt
  settings.gradle.kts
Due: shulker-operator

Deploying to gh-pages from @ jeremylvln/Shulker@a8a33ab266412cfc52bd1c9c78889e17f779ee30 🚀
  404.html
  assets/next_guide_recipes_understanding-lifecycle-strategies.md.GDrqUMqV.js
  assets/next_guide_recipes_understanding-lifecycle-strategies.md.GDrqUMqV.lean.js
  hashmap.json
  index.html
  latest/guide/addons/matchmaking.html
  latest/guide/addons/what-are-addons.html
  latest/guide/architecture.html
  latest/guide/getting-started/installation.html
  latest/guide/getting-started/prerequisites.html
  latest/guide/getting-started/your-first-cluster.html
  latest/guide/index.html
  latest/guide/recipes/adding-custom-content.html
  latest/guide/recipes/defining-network-administrators.html
  latest/guide/recipes/enabling-proxy-protocol.html
  latest/guide/recipes/overriding-pod-properties.html
  latest/guide/recipes/using-custom-server-jar.html
  latest/sdk/index.html
  next/guide/addons/matchmaking.html
  next/guide/addons/what-are-addons.html
  next/guide/architecture.html
  next/guide/getting-started/installation.html
  next/guide/getting-started/prerequisites.html
  next/guide/getting-started/your-first-cluster.html
  next/guide/index.html
  next/guide/recipes/adding-custom-content.html
  next/guide/recipes/defining-network-administrators.html
  next/guide/recipes/enabling-proxy-protocol.html
  next/guide/recipes/overriding-pod-properties.html
  next/guide/recipes/understanding-lifecycle-strategies.html
  next/guide/recipes/using-custom-server-jar.html
  next/sdk/index.html
Due: none

feat(shulker-proxy-agent): use internal DNS through headless service rather than GameServer status
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/Configuration.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/models/AgonesV1GameServer.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ServerDirectoryService.kt
Due: none

feat: route proxy to server internal network through internal DNS (#357)
  packages/shulker-operator/src/reconcilers/minecraft_cluster/headless_service.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_service.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__headless_service__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__minecraft_server_headless_service__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/Configuration.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/models/AgonesV1GameServer.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ServerDirectoryService.kt
Due: shulker-operator

chore(release): 0.6.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  dda228d2bb91e380f16d50a9dda1d76a956f5c29
Due: none

chore: update Helm repository
  helm-charts/index.yaml
  helm-charts/shulker-operator-0.6.0.tgz
Due: none

chore: update gitignore to exclude IDEA generated files
  .gitignore
  .idea/compiler.xml
  .idea/jarRepositories.xml
  .idea/modules.xml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk.main.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk.test.iml
  .idea/modules/packages/google-open-match-sdk/bindings/java/shulker.packages.google-open-match-sdk.iml
  .idea/modules/packages/google-open-match-sdk/bindings/java/shulker.packages.google-open-match-sdk.main.iml
  .idea/modules/packages/google-open-match-sdk/bindings/java/shulker.packages.google-open-match-sdk.test.iml
  .idea/modules/packages/shulker-gradle-tools/shulker-gradle-tools.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.bungeecord.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.common.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.main.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.velocity.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.main.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.test.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk.main.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk.test.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.common.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.main.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.paper.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.test.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.main.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.test.iml
  .idea/modules/packages/shulker.packages.iml
  .idea/modules/shulker.iml
  .idea/modules/shulker.main.iml
  .idea/modules/shulker.test.iml
Due: none

fix(shulker-operator): set velocity config file version to 2.6 to avoid motd migration
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__velocity__tests__from_spec.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__velocity__tests__to_string.snap
Due: shulker-operator

chore(release): 0.6.1 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
Due: none

Notes added by 'git notes add'
  f10d4e46ced5638b4fe82ea030aa967db714961f
Due: none

chore: update Helm repository
  helm-charts/index.yaml
  helm-charts/shulker-operator-0.6.1.tgz
Due: none

feat(shulker-proxy-agent): use proxy capacities as max slots in ping requests
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/CacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/RedisCacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/platform/ProxyPingHook.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
Due: none

chore: bump server and proxy images
  examples/getting-started/proxy.yaml
  packages/shulker-operator/assets/proxy-probe-readiness.sh
  packages/shulker-operator/src/constants.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

feat(shulker-proxy-agent): use proxy capacities as max slots in ping requests (#394)
  examples/getting-started/proxy.yaml
  packages/shulker-operator/assets/proxy-probe-readiness.sh
  packages/shulker-operator/src/constants.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/CacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/RedisCacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/platform/ProxyPingHook.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
Due: shulker-operator

feat(shulker-crds): add proxy player delta config
  kube/helm/templates/crds/shulkermc.io_minecraftserverfleets.yaml
  kube/helm/templates/crds/shulkermc.io_minecraftservers.yaml
  kube/helm/templates/crds/shulkermc.io_proxyfleets.yaml
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
Due: shulker-crds

feat(shulker-proxy-agent): create a readiness lock file when capacity is reached
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/Configuration.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/FileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/LocalFileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyLifecycleService.kt
Due: none

feat(shulker-operator): take into account the readiness lock in readiness script
  packages/shulker-operator/assets/proxy-probe-readiness.sh
Due: shulker-operator

feat(shulker-operator): inject SHULKER_PROXY_PLAYER_DELTA_BEFORE_EXCLUSION to proxies
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator
