Repository jeremylvln/Shulker: changes, and which Codecov flags are due for each by the changed paths.
All: google-agones-sdk-bindings-java, shulker-sdk-bindings-rust, shulker-sdk-bindings-java, shulker-server-agent, shulker-proxy-agent, shulker-server-api, google-agones-crds, google-agones-sdk, shulker-proxy-api, shulker-operator, shulker-utils, shulker-crds, shulker-sdk

Revert "chore(release): 0.2.0 [skip ci]"
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  package.json
Due: none

chore(release): 0.2.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  package.json
Due: none

Notes added by 'git notes add'
  39f75635866997d43cde778ed8ad662905a6aee7
Due: none

chore: update kube overlays tags on release
  .releaserc.cjs
  kube/overlays/stable-with-prometheus/kustomization.yaml
  kube/overlays/stable/kustomization.yaml
Due: none

test: inject dummy version for agents
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__update_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__update_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__update_snapshot.snap
Due: shulker-operator

fix(shulker-operator): keep extra annotations when reconciling a resource
  Cargo.lock
  packages/shulker-operator/src/reconcilers/builder.rs
Due: shulker-operator

fix(shulker-operator): patch existing resources with a fresh spec
  packages/shulker-operator/src/reconcilers/builder.rs
Due: shulker-operator

test(shulker-operator): use name function in resource tests
  packages/shulker-operator/src/reconcilers/minecraft_cluster/forwarding_secret.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_role_binding.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_service_account.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/proxy_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/proxy_role_binding.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/proxy_service_account.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__minecraft_server_role__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__minecraft_server_role_binding__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__minecraft_server_service_account__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__proxy_role_binding__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fleet_autoscaler.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet_autoscaler.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/service.rs
Due: shulker-operator

chore(shulker-operator): add debug logs on the resource reconciler
  packages/shulker-operator/src/reconcilers/builder.rs
Due: shulker-operator

chore: remove all-contributors
  README.md
Due: none

fix(shulker-operator): assert valid cluster ref before reconciling
  packages/shulker-operator/src/reconcilers/cluster_ref.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/mod.rs
  packages/shulker-operator/src/reconcilers/mod.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/mod.rs
Due: shulker-operator

fix(shulker-operator): assert valid cluster ref before reconciling (#184)
  packages/shulker-operator/src/reconcilers/cluster_ref.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/mod.rs
  packages/shulker-operator/src/reconcilers/mod.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/mod.rs
Due: shulker-operator

docs: fix dead link in README
  README.md
Due: none

feat(shulker-crds): add redis provided spec to cluster
  docs/package.json
  kube/resources/crd/bases/shulkermc.io_minecraftclusters.yaml
  packages/shulker-crds/src/v1alpha1/minecraft_cluster.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_service.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/redis_stateful_set.rs
Due: shulker-operator, shulker-crds

refactor(shulker-proxy-agent): simplify the architecture a bit
  .idea/modules/shulker.main.iml
  .idea/modules/shulker.test.iml
  build.gradle.kts
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ShulkerProxyAgentBungeeCord.kt
  packages/shulker-proxy-agent/src/bungeecord/resources/plugin.yml
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/KubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/KubernetesGatewayAdapterImpl.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/api/ShulkerProxyAPIImpl.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/features/directory/DirectoryFeature.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/features/drain/DrainFeature.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/features/limbo/LimboFeature.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyLifecycleService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ServerDirectoryService.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ShulkerProxyAgentVelocity.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ShulkerServerAgentCommon.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/api/ShulkerServerAPIImpl.kt
  packages/shulker-server-agent/src/paper/kotlin/io/shulkermc/serveragent/paper/ServerInterfacePaper.kt
  packages/shulker-server-agent/src/paper/kotlin/io/shulkermc/serveragent/paper/ShulkerServerAgentPaper.kt
  packages/shulker-server-agent/src/paper/resources/plugin.yml
Due: shulker-server-agent, shulker-proxy-agent

feat(shulker-proxy-agent): sync proxies and players in Redis
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.main.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.bungeecord.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.common.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.velocity.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.main.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.test.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk-bindings-java.main.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk-bindings-java.test.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.common.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.main.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.paper.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.test.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.main.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.test.iml
  .idea/modules/packages/shulker.packages.main.iml
  .idea/modules/packages/shulker.packages.test.iml
  .idea/modules/shulker.main.iml
  .idea/modules/shulker.test.iml
  packages/shulker-proxy-agent/build.gradle.kts
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/Configuration.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/CacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/RedisCacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/LocalFileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/api/ShulkerProxyAPIImpl.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/platform/Player.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/platform/PlayerDisconnectHook.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/platform/ServerPostConnectHook.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/tasks/HealthcheckTask.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/tasks/LostProxyPurgeTask.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
  packages/shulker-proxy-api/src/main/java/io/shulkermc/proxyagent/api/ShulkerProxyAPI.java
Due: shulker-proxy-agent, shulker-proxy-api

feat(shulker-proxy-agent): display global player count on ping
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.bungeecord.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.common.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.velocity.iml
  packages/shulker-proxy-agent/build.gradle.kts
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/CacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/RedisCacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/platform/ProxyPingHook.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ShulkerProxyAgentVelocity.kt
Due: shulker-proxy-agent

feat(shulker-proxy-agent): add glist, gtp and gfind commands
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ShulkerProxyAgentBungeeCord.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalFindCommand.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalListCommand.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalTeleportCommand.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/pubsub/PubSubAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/pubsub/RedisPubSubAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/utils/MessageUtils.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ShulkerProxyAgentVelocity.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/commands/GlobalFindCommand.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/commands/GlobalListCommand.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/commands/GlobalTeleportCommand.kt
Due: shulker-proxy-agent

feat(shulker-proxy-agent): listen on teleport player pub sub
  package-lock.json
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/RedisCacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/pubsub/RedisPubSubAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/handlers/TeleportPlayerOnServerHandler.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/platform/ProxyPingHook.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/commands/GlobalFindCommand.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/commands/GlobalTeleportCommand.kt
Due: shulker-proxy-agent

test(shulker-operator): fix snapshots
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
Due: shulker-operator

feat(shulker-proxy-agent): query mojang api to get unknown player names or ids
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/mojang/HttpMojangGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/mojang/MojangGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/api/ShulkerProxyAPIImpl.kt
  packages/shulker-proxy-api/src/main/java/io/shulkermc/proxyagent/api/ShulkerProxyAPI.java
Due: shulker-proxy-agent, shulker-proxy-api

style: fix ktlint
  build.gradle.kts
  examples/getting-started/proxy.yaml
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/RedisCacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/LocalFileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyLifecycleService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ServerDirectoryService.kt
Due: shulker-proxy-agent

style: fix ktlint
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
Due: shulker-proxy-agent

style: add editorconfig and configure ktlint
  .editorconfig
  .idea/codeStyles/Project.xml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.bungeecord.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.velocity.iml
  build.gradle.kts
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalFindCommand.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalListCommand.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalTeleportCommand.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/api/ShulkerProxyAPIImpl.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/commands/GlobalFindCommand.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/commands/GlobalListCommand.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/commands/GlobalTeleportCommand.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ShulkerServerAgentCommon.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/api/ShulkerServerAPIImpl.kt
  packages/shulker-server-agent/src/paper/kotlin/io/shulkermc/serveragent/paper/ServerInterfacePaper.kt
Due: shulker-server-agent, shulker-proxy-agent

style: fix some detekt issues
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalFindCommand.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalListCommand.kt
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/commands/GlobalTeleportCommand.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/filesystem/LocalFileSystemAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/ImplKubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyLifecycleService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ServerDirectoryService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/tasks/HealthcheckTask.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/tasks/LostProxyPurgeTask.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ShulkerServerAgentCommon.kt
  packages/shulker-server-agent/src/paper/kotlin/io/shulkermc/serveragent/paper/ServerInterfacePaper.kt
Due: shulker-server-agent, shulker-proxy-agent

fix(shulker-operator): resolve maven secret in correct namespace
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/resources/resourceref_resolver.rs
Due: shulker-operator

fix: publish java libraries as normal jar
  build.gradle.kts
  packages/google-agones-sdk/bindings/java/build.gradle.kts
  packages/shulker-proxy-agent/build.gradle.kts
  packages/shulker-sdk/bindings/java/build.gradle.kts
  packages/shulker-sdk/bindings/java/src/main/java/.gitkeep
  packages/shulker-server-agent/build.gradle.kts
Due: google-agones-sdk-bindings-java, shulker-sdk-bindings-java, shulker-server-agent, shulker-proxy-agent, google-agones-sdk, shulker-sdk

fix(shulker-operator): plugins and patches joined with bad separator
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
Due: shulker-operator

feat(shulker-sdk): add convenient Java wrapper
  packages/google-agones-sdk/bindings/java/gradle.properties
  packages/shulker-proxy-api/gradle.properties
  packages/shulker-sdk/bindings/java/gradle.properties
  packages/shulker-sdk/bindings/java/src/main/java/io/shulkermc/sdk/ShulkerSDK.java
  packages/shulker-sdk/bindings/java/src/main/java/io/shulkermc/sdk/ShulkerSDKImpl.java
  packages/shulker-server-api/gradle.properties
Due: google-agones-sdk-bindings-java, shulker-sdk-bindings-java, shulker-server-api, google-agones-sdk, shulker-proxy-api, shulker-sdk

feat(shulker-operator): add ability to register hook with order
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ProxyInterface.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/platform/HookPostOrder.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/PlayerMovementService.kt
  packages/shulker-proxy-agent/src/velocity/kotlin/io/shulkermc/proxyagent/velocity/ProxyInterfaceVelocity.kt
Due: shulker-proxy-agent

refactor(shulker-proxy-agent): manage locks with AutoCloseable
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/CacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/cache/RedisCacheAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/tasks/LostProxyPurgeTask.kt
Due: shulker-proxy-agent

style: fix some lint issues
  packages/shulker-proxy-agent/src/bungeecord/kotlin/io/shulkermc/proxyagent/bungeecord/ProxyInterfaceBungeeCord.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/adapters/kubernetes/KubernetesGatewayAdapter.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/services/ProxyLifecycleService.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/tasks/HealthcheckTask.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ShulkerServerAgentCommon.kt
Due: shulker-server-agent, shulker-proxy-agent

chore: fix release Cargo.toml match
  .releaserc.cjs
Due: none

Path conditions:
  google-agones-sdk-bindings-java: any of: packages/google-agones-sdk/bindings/java
  shulker-sdk-bindings-rust: any of: packages/shulker-sdk/bindings/rust
  shulker-sdk-bindings-java: any of: packages/shulker-sdk/bindings/java
  shulker-server-agent: any of: packages/shulker-server-agent
  shulker-proxy-agent: any of: packages/shulker-proxy-agent
  shulker-server-api: any of: packages/shulker-server-api
  google-agones-crds: any of: packages/google-agones-crds
  google-agones-sdk: any of: packages/google-agones-sdk
  shulker-proxy-api: any of: packages/shulker-proxy-api
  shulker-operator: any of: packages/shulker-operator
  shulker-utils: any of: packages/shulker-utils
  shulker-crds: any of: packages/shulker-crds
  shulker-sdk: any of: packages/shulker-sdk
