Repository jeremylvln/Shulker: changes, and which Codecov flags are due for each by the changed paths.
All: google-agones-sdk-bindings-java, shulker-sdk-bindings-rust, shulker-sdk-bindings-java, shulker-server-agent, shulker-proxy-agent, shulker-server-api, google-agones-crds, google-agones-sdk, shulker-proxy-api, shulker-operator, shulker-utils, shulker-crds, shulker-sdk

fix(deps): manual bump (#128)
  .husky/pre-commit
  codecov.yml
  commitlint.config.cjs
  docs/package.json
  package-lock.json
  package.json
  scripts/generate_codecov_config.cjs
Due: none

ci: upload individually files to codecov
  .github/workflows/ci.yml
  codecov.yml
  packages/google-agones-crds/project.json
  packages/shulker-crds/project.json
  packages/shulker-operator/project.json
  packages/shulker-sdk/bindings/rust/project.json
  packages/shulker-utils/project.json
  scripts/generate_codecov_config.cjs
  scripts/upload_codecov_files.sh
Due: shulker-sdk-bindings-rust, google-agones-crds, shulker-operator, shulker-utils, shulker-crds, shulker-sdk

chore: delete useless file
  packages/google-agones-sdk/build.gradle.kts
  scripts/generate_codecov_config.cjs
Due: google-agones-sdk

chore: update java project.json
  build.gradle.kts
  packages/google-agones-sdk/bindings/java/project.json
  packages/shulker-proxy-agent/project.json
  packages/shulker-proxy-api/project.json
  packages/shulker-sdk/bindings/rust/tarpaulin.toml
  packages/shulker-server-agent/project.json
  packages/shulker-server-api/project.json
Due: google-agones-sdk-bindings-java, shulker-sdk-bindings-rust, shulker-server-agent, shulker-proxy-agent, shulker-server-api, google-agones-sdk, shulker-proxy-api, shulker-sdk

ci: use official nx action
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

chore: exclude crds schemas from coverage
  packages/shulker-crds/src/schemas.rs
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-crds/src/v1alpha1/minecraft_server_fleet.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
Due: shulker-crds

chore: publish maven packages on release
  .npmrc
  .releaserc.cjs
  package-lock.json
  package.json
Due: none

chore: update gradle wrapper
  .releaserc.cjs
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

chore: rework semantic release config
  .releaserc.cjs
Due: none

chore: fix codecov for shulker-sdk and google-agones-crds
  packages/google-agones-crds/project.json
  packages/shulker-sdk/bindings/rust/project.json
Due: shulker-sdk-bindings-rust, google-agones-crds, shulker-sdk

test(shulker-utils): write tests for time module
  .husky/pre-commit
  packages/shulker-utils/src/time.rs
  packages/shulker-utils/tarpaulin.toml
  scripts/upload_codecov_files.sh
Due: shulker-utils

refactor(shulker-crds): use native enum when possible
  Cargo.lock
  Cargo.toml
  packages/shulker-crds/Cargo.toml
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/service.rs
Due: shulker-operator, shulker-crds

fix(shulker-crds): use native default system whenever possible
  kube/resources/crd/bases/shulkermc.io_minecraftserverfleets.yaml
  kube/resources/crd/bases/shulkermc.io_minecraftservers.yaml
  kube/resources/crd/bases/shulkermc.io_proxyfleets.yaml
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-crds/src/v1alpha1/minecraft_server_fleet.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/service.rs
Due: shulker-operator, shulker-crds

fix(shulker-crds): use native default system whenever possible (#153)
  kube/resources/crd/bases/shulkermc.io_minecraftserverfleets.yaml
  kube/resources/crd/bases/shulkermc.io_minecraftservers.yaml
  kube/resources/crd/bases/shulkermc.io_proxyfleets.yaml
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-crds/src/v1alpha1/minecraft_server_fleet.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/service.rs
Due: shulker-operator, shulker-crds

docs: add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

chore: update bug_report issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

test(shulker-operator): add tests for minecraft cluster resources
  Cargo.lock
  Cargo.toml
  packages/shulker-operator/src/reconcilers/minecraft_cluster/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/forwarding_secret.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_role_binding.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/minecraft_server_service_account.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/proxy_role.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/proxy_role_binding.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/proxy_service_account.rs
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__forwarding_secret__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__minecraft_server_role__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__minecraft_server_role__tests__update_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__minecraft_server_role_binding__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__minecraft_server_role_binding__tests__update_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__minecraft_server_service_account__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__proxy_role__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__proxy_role__tests__update_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__proxy_role_binding__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__proxy_role_binding__tests__update_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_cluster/snapshots/shulker_operator__reconcilers__minecraft_cluster__proxy_service_account__tests__create_snapshot.snap
Due: shulker-operator

chore(deps): pin dependencies
  Cargo.lock
  Cargo.toml
  package-lock.json
  package.json
Due: none

test(shulker-crds): simplified condition stringify
  packages/shulker-crds/src/condition.rs
  packages/shulker-crds/src/v1alpha1/minecraft_cluster.rs
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__bukkit__tests__from_spec.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__update_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__vanilla__tests__from_spec.snap
Due: shulker-operator, shulker-crds

test(shulker-operator): add tests on resourceref_resolver
  Cargo.lock
  Cargo.toml
  packages/shulker-crds/src/resourceref.rs
  packages/shulker-operator/Cargo.toml
  packages/shulker-operator/src/resources/http_credentials.rs
  packages/shulker-operator/src/resources/resourceref.rs
  packages/shulker-operator/src/resources/resourceref_resolver.rs
Due: shulker-operator, shulker-crds

test(shulker-operator): add snapshot tests for proxy and server configs
  Cargo.lock
  Cargo.toml
  packages/shulker-crds/src/v1alpha1/minecraft_server.rs
  packages/shulker-crds/src/v1alpha1/proxy_fleet.rs
  packages/shulker-operator/Cargo.toml
  packages/shulker-operator/src/reconcilers/minecraft_server/config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__bukkit__tests__from_spec.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__bukkit__tests__to_string.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__paper__tests__from_spec.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__paper__tests__to_string.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__spigot__tests__from_spec.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__spigot__tests__to_string.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__vanilla__tests__from_spec.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__vanilla__tests__to_string.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__bungeecord__tests__from_spec.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__bungeecord__tests__to_string.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__velocity__tests__from_spec.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__velocity__tests__to_string.snap
  packages/shulker-utils/src/time.rs
Due: shulker-operator, shulker-utils, shulker-crds

test(shulker-operator): ensure presence of all config files in server config map
  packages/shulker-operator/src/reconcilers/minecraft_server/config_map.rs
Due: shulker-operator

ci: add clippy and detekt quality steps
  .github/workflows/ci.yml
  .gitignore
  .idea/kotlinc.xml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.main.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.bungeecord.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.common.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.main.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.velocity.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.main.iml
  .idea/modules/packages/shulker-proxy-api/shulker.packages.shulker-proxy-api.test.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk-bindings-java.main.iml
  .idea/modules/packages/shulker-sdk/bindings/java/shulker.packages.shulker-sdk-bindings-java.test.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.common.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.main.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.paper.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.test.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.main.iml
  .idea/modules/packages/shulker-server-api/shulker.packages.shulker-server-api.test.iml
  .idea/modules/packages/shulker.packages.main.iml
  .idea/modules/packages/shulker.packages.test.iml
  .idea/modules/shulker.iml
  .idea/modules/shulker.main.iml
  .idea/modules/shulker.test.iml
  build.gradle.kts
  packages/shulker-operator/src/reconcilers/minecraft_server/config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__update_snapshot.snap
Due: shulker-operator

ci: remove use of actions-rs actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

test(shulker-operator): add tests for minecraft server and fleet resources
  Cargo.lock
  kube/resources/crd/bases/shulkermc.io_minecraftserverfleets.yaml
  kube/resources/crd/bases/shulkermc.io_minecraftservers.yaml
  kube/resources/crd/bases/shulkermc.io_proxyfleets.yaml
  packages/google-agones-crds/Cargo.toml
  packages/google-agones-crds/src/v1/fleet.rs
  packages/google-agones-crds/src/v1/fleet_autoscaler.rs
  packages/google-agones-crds/src/v1/game_server.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__update_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fleet_autoscaler.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/mod.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__update_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__update_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet_autoscaler__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet_autoscaler__tests__update_snapshot.snap
Due: google-agones-crds, shulker-operator

test(shulker-operator): add tests for proxy fleet resources
  packages/shulker-operator/src/reconcilers/proxy_fleet/config_map.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fixtures.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet_autoscaler.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/mod.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/service.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__update_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__update_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet_autoscaler__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet_autoscaler__tests__update_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__service__tests__create_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__service__tests__update_snapshot.snap
Due: shulker-operator

ci: cache more efficiently rust build artifacts
  .github/workflows/ci.yml
Due: none

ci: precise cache keys
  .github/workflows/ci.yml
Due: none

ci: use cargo binstall to speed up
  .github/workflows/ci.yml
Due: none

ci: run build and lint on main
  .github/workflows/ci.yml
Due: none

docs: add coverage badge
  README.md
Due: none

ci: cancel previous jobs on pull requests only
  .github/workflows/ci.yml
Due: none

ci: move tools installation to a local action
  .github/actions/install-tools/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

build: fix docker build
  .dockerignore
  nx.json
  package-lock.json
  package.json
  packages/google-agones-crds/project.json
  packages/google-agones-sdk/project.json
  packages/shulker-crds/project.json
  packages/shulker-operator/Dockerfile
  packages/shulker-operator/project.json
  packages/shulker-sdk/bindings/rust/project.json
  packages/shulker-sdk/project.json
  packages/shulker-utils/project.json
Due: shulker-sdk-bindings-rust, google-agones-crds, google-agones-sdk, shulker-operator, shulker-utils, shulker-crds, shulker-sdk

ci: add docker build step
  .github/workflows/ci.yml
Due: none

ci: add docker build step
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

chore: release Docker images with Nx
  .github/workflows/ci.yml
  .releaserc.cjs
  nx.json
  package-lock.json
  package.json
  packages/shulker-operator/project.json
  scripts/build_docker.cjs
Due: shulker-operator

ci: simplify jobs
  .github/workflows/ci.yml
Due: none

Path conditions:
  google-agones-sdk-bindings-java: any of: packages/google-agones-sdk/bindings/java
  shulker-sdk-bindings-rust: any of: packages/shulker-sdk/bindings/rust
  shulker-sdk-bindings-java: any of: packages/shulker-sdk/bindings/java
  shulker-server-agent: any of: packages/shulker-server-agent
  shulker-proxy-agent: any of: packages/shulker-proxy-agent
  shulker-server-api: any of: packages/shulker-server-api
  google-agones-crds: any of: packages/google-agones-crds
  google-agones-sdk: any of: packages/google-agones-sdk
  shulker-proxy-api: any of: packages/shulker-proxy-api
  shulker-operator: any of: packages/shulker-operator
  shulker-utils: any of: packages/shulker-utils
  shulker-crds: any of: packages/shulker-crds
  shulker-sdk: any of: packages/shulker-sdk
