Repository jeremylvln/Shulker: changes, and which Codecov flags are due for each by the changed paths.
All: google-open-match-sdk-bindings-rust, shulker-sdk-bindings-rust, shulker-addon-matchmaking, shulker-kube-utils, google-agones-crds, shulker-operator, shulker-utils, shulker-crds

chore: sort codecov projects
  codecov.yml
  scripts/generate_codecov_config.cjs
  scripts/upload_codecov_files.sh
Due: none

chore: update releaserc to modify Helm charts
  .releaserc.cjs
Due: none

docs: add pages about helm and matchmaking
  docs/src/.vitepress/config.mts
  docs/src/guide/addons/matchmaking.md
  docs/src/guide/addons/what-are-addons.md
  docs/src/guide/getting-started/installation.md
  docs/src/sdk/index.md
Due: none

docs: add pages about helm and matchmaking (#215)
  docs/src/.vitepress/config.mts
  docs/src/guide/addons/matchmaking.md
  docs/src/guide/addons/what-are-addons.md
  docs/src/guide/getting-started/installation.md
  docs/src/sdk/index.md
Due: none

fix(shulker-operator): fleet labels not added to GameServers from MinecraftServerFleets
  codecov.yml
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  scripts/upload_codecov_files.sh
Due: shulker-operator

feat(google-agones-sdk): generate Rust SDK and update proto
  Cargo.lock
  Cargo.toml
  packages/google-agones-sdk/bindings/rust/Cargo.toml
  packages/google-agones-sdk/bindings/rust/project.json
  packages/google-agones-sdk/bindings/rust/src/gen/agones.dev.sdk.alpha.rs
  packages/google-agones-sdk/bindings/rust/src/gen/agones.dev.sdk.alpha.tonic.rs
  packages/google-agones-sdk/bindings/rust/src/gen/agones.dev.sdk.rs
  packages/google-agones-sdk/bindings/rust/src/gen/agones.dev.sdk.tonic.rs
  packages/google-agones-sdk/bindings/rust/src/gen/allocation.rs
  packages/google-agones-sdk/bindings/rust/src/gen/allocation.tonic.rs
  packages/google-agones-sdk/bindings/rust/src/lib.rs
  packages/google-agones-sdk/bindings/rust/tarpaulin.toml
  packages/google-agones-sdk/buf.gen.yaml
  packages/google-agones-sdk/proto/agones/v1/alpha/sdk.proto
  packages/google-agones-sdk/proto/agones/v1/sdk.proto
  packages/google-agones-sdk/proto/allocation/allocation.proto
  packages/google-agones-sdk/proto/buf.lock
  packages/google-agones-sdk/proto/buf.yaml
  packages/google-agones-sdk/proto/sdk/alpha/alpha.proto
  packages/google-agones-sdk/proto/sdk/sdk.proto
Due: none

fix(shulker-server-agent): use new agones package
  .idea/jarRepositories.xml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.main.iml
  .idea/modules/packages/google-agones-sdk/bindings/java/shulker.packages.google-agones-sdk-bindings-java.test.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.bungeecord.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.common.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.velocity.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.common.iml
  .idea/modules/packages/shulker-server-agent/shulker.packages.shulker-server-agent.paper.iml
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-server-agent/build.gradle.kts
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ShulkerServerAgentCommon.kt
Due: none

feat(shulker-operator): rework summon sdk method to try to allocate an existing server first
  packages/shulker-operator/Cargo.toml
  packages/shulker-operator/src/api/minecraft_server_fleet_grpc.rs
  packages/shulker-operator/src/api/mod.rs
  packages/shulker-operator/src/api/sdk_grpc.rs
  packages/shulker-operator/src/main.rs
  packages/shulker-operator/src/summon.rs
  packages/shulker-sdk/bindings/rust/src/lib.rs
  packages/shulker-sdk/proto/sdk/sdk.proto
  packages/shulker-sdk/proto/shulkermc/sdk/v1alpha1/minecraftserverfleet.proto
Due: shulker-sdk-bindings-rust, shulker-operator

feat(deploy): add agones allocator env
  Cargo.lock
  commitlint.config.cjs
  kube/helm/charts/shulker-addon-matchmaking/templates/director_deployment.yaml
  kube/helm/charts/shulker-addon-matchmaking/templates/mmf_deployment.yaml
  kube/helm/templates/deployment.yaml
  kube/helm/values.yaml
  packages/shulker-addon-matchmaking/src/bin/director.rs
  packages/shulker-addon-matchmaking/src/director.rs
Due: shulker-addon-matchmaking

style: format files
  .github/actions/install-tools/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  crowdin.yml
  examples/getting-started/kustomization.yaml
  examples/getting-started/minecraftserver.yaml
  examples/with-custom-configuration/kustomization.yaml
  examples/with-custom-configuration/minecraftserver.yaml
  examples/with-custom-configuration/proxy.yaml
  examples/with-proxy-protocol/kustomization.yaml
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/values.yaml
  kube/helm/values.yaml
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  package.json
  packages/shulker-operator/src/main.rs
Due: shulker-operator

chore: fix Buf generation not clearing previous artifacts
  kube/manifests/generate_from_helm.sh
  packages/google-agones-sdk/project.json
  packages/google-open-match-sdk/bindings/java/project.json
  packages/google-open-match-sdk/project.json
  packages/shulker-sdk/bindings/java/project.json
  packages/shulker-sdk/bindings/java/src/main/java/io/shulkermc/sdk/ShulkerSDK.java
  packages/shulker-sdk/bindings/java/src/main/java/io/shulkermc/sdk/ShulkerSDKImpl.java
  packages/shulker-sdk/project.json
  settings.gradle
Due: none

Revert "chore(deps): update nrwl monorepo to v17.1.1 (#239)"
  package-lock.json
  package.json
Due: none

Revert "chore(deps): update nrwl monorepo to v17.1.1 (#239)" (#240)
  package-lock.json
  package.json
Due: none

docs: separate pages for next and latest
  .github/workflows/docs.yml
  docs/src/.vitepress/config.mts
  docs/src/.vitepress/versions.mts
  docs/src/index.md
  docs/src/latest/assets/basics/basics.excalidraw.png
  docs/src/latest/assets/getting-started/motd.png
  docs/src/latest/assets/getting-started/no-limbo.png
  docs/src/latest/assets/getting-started/server.png
  docs/src/latest/guide/addons/matchmaking.md
  docs/src/latest/guide/addons/what-are-addons.md
  docs/src/latest/guide/architecture.md
  docs/src/latest/guide/getting-started/installation.md
  docs/src/latest/guide/getting-started/prerequisites.md
  docs/src/latest/guide/getting-started/your-first-cluster.md
  docs/src/latest/guide/index.md
  docs/src/latest/guide/recipes/adding-custom-content.md
  docs/src/latest/guide/recipes/defining-network-administrators.md
  docs/src/latest/guide/recipes/enabling-proxy-protocol.md
  docs/src/latest/guide/recipes/overriding-pod-properties.md
  docs/src/latest/sdk/index.md
  docs/src/latest/sidebar.mts
  docs/src/next/assets/basics/basics.excalidraw.png
  docs/src/next/assets/getting-started/motd.png
  docs/src/next/assets/getting-started/no-limbo.png
  docs/src/next/assets/getting-started/server.png
  docs/src/next/guide/addons/matchmaking.md
  docs/src/next/guide/addons/what-are-addons.md
  docs/src/next/guide/architecture.md
  docs/src/next/guide/getting-started/installation.md
  docs/src/next/guide/getting-started/prerequisites.md
  docs/src/next/guide/getting-started/your-first-cluster.md
  docs/src/next/guide/index.md
  docs/src/next/guide/recipes/adding-custom-content.md
  docs/src/next/guide/recipes/defining-network-administrators.md
  docs/src/next/guide/recipes/enabling-proxy-protocol.md
  docs/src/next/guide/recipes/overriding-pod-properties.md
  docs/src/next/sdk/index.md
  docs/src/next/sidebar.mts
Due: none

ci: release Gradle snapshots
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

docs: fix dead links
  docs/src/latest/guide/getting-started/your-first-cluster.md
  docs/src/next/guide/getting-started/your-first-cluster.md
Due: none

chore: upgrade dependencies
  package-lock.json
  package.json
Due: none

chore: upgrade Rust version
  Cargo.toml
  packages/google-agones-crds/Cargo.toml
  packages/google-agones-sdk/bindings/rust/Cargo.toml
  packages/google-open-match-sdk/bindings/rust/Cargo.toml
  packages/shulker-addon-matchmaking/Cargo.toml
  packages/shulker-crds/Cargo.toml
  packages/shulker-kube-utils/Cargo.toml
  packages/shulker-operator/Cargo.toml
  packages/shulker-sdk/bindings/rust/Cargo.toml
  packages/shulker-utils/Cargo.toml
Due: google-open-match-sdk-bindings-rust, shulker-sdk-bindings-rust, shulker-addon-matchmaking, shulker-kube-utils, google-agones-crds, shulker-operator, shulker-utils, shulker-crds

feat(shulker-operator): add a Maven snapshot resolver
  .github/workflows/release.yml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.bungeecord.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.common.iml
  .idea/modules/packages/shulker-proxy-agent/shulker.packages.shulker-proxy-agent.velocity.iml
  Cargo.lock
  Cargo.toml
  README.md
  kube/helm/.gitignore
  kube/helm/charts/shulker-addon-matchmaking/templates/director_deployment.yaml
  kube/helm/charts/shulker-addon-matchmaking/templates/mmf_deployment.yaml
  kube/helm/templates/NOTES.txt
  kube/helm/templates/deployment.yaml
  kube/manifests/generate_from_helm.sh
  kube/manifests/next-with-prometheus.yaml
  kube/manifests/next.yaml
  kube/manifests/stable-with-prometheus.yaml
  kube/manifests/stable.yaml
  packages/shulker-operator/Cargo.toml
  packages/shulker-operator/assets/proxy-init-fs.sh
  packages/shulker-operator/assets/server-init-fs.sh
  packages/shulker-operator/src/reconcilers/agent.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/mod.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/resources/maven/fixtures/maven-metadata.xml
  packages/shulker-operator/src/resources/maven/fixtures/mod.rs
  packages/shulker-operator/src/resources/maven/mod.rs
  packages/shulker-operator/src/resources/maven/resolver.rs
  packages/shulker-operator/src/resources/mod.rs
  packages/shulker-operator/src/resources/resourceref.rs
  packages/shulker-operator/src/resources/resourceref_resolver.rs
  packages/shulker-proxy-agent/build.gradle.kts
Due: shulker-operator

fix(shulker-proxy-agent): having no network admins tries to parse an empty string uuid
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/Configuration.kt
  packages/shulker-proxy-agent/src/common/kotlin/io/shulkermc/proxyagent/ShulkerProxyAgentCommon.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/Configuration.kt
  packages/shulker-server-agent/src/common/kotlin/io/shulkermc/serveragent/ShulkerServerAgentCommon.kt
Due: none

test: fix Nx commands for Java SDK projects
  packages/google-agones-sdk/bindings/java/project.json
  packages/google-open-match-sdk/bindings/java/project.json
  packages/shulker-addon-matchmaking/src/bin/director.rs
  packages/shulker-kube-utils/src/metrics.rs
  packages/shulker-operator/src/main.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/gameserver.rs
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server/snapshots/shulker_operator__reconcilers__minecraft_server__gameserver__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/fleet.rs
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/minecraft_server_fleet/snapshots/shulker_operator__reconcilers__minecraft_server_fleet__fleet__tests__build_snapshot.snap
  packages/shulker-operator/src/reconcilers/proxy_fleet/snapshots/shulker_operator__reconcilers__proxy_fleet__config_map__tests__build_snapshot.snap
  packages/shulker-sdk/bindings/java/project.json
Due: shulker-addon-matchmaking, shulker-kube-utils, shulker-operator

docs: update Agones prerequisites
  .vscode/settings.json
  docs/project.json
  docs/scripts/copy_next_to_latest.sh
  docs/src/next/guide/getting-started/prerequisites.md
Due: none

ci: add cargo-deny
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  deny.toml
  packages/shulker-kube-utils/Cargo.toml
Due: shulker-kube-utils

chore: remove stable branch
  .github/workflows/release.yml
  docs/src/latest/guide/getting-started/installation.md
  docs/src/latest/guide/getting-started/prerequisites.md
  docs/src/latest/sidebar.mts
  docs/src/next/guide/getting-started/installation.md
  docs/src/next/sidebar.mts
Due: none

chore(release): 0.4.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  package.json
Due: none

Notes added by 'git notes add'
  78258f87843542945b04a52ff2e0b3cff8bd982d
Due: none

fix(shulker-kube-utils): use axum in metrics
  packages/shulker-kube-utils/src/metrics.rs
Due: shulker-kube-utils

Revert "chore(release): 0.4.0 [skip ci]"
  CHANGELOG.md
  Cargo.toml
  gradle.properties
  kube/helm/Chart.yaml
  kube/helm/charts/shulker-addon-matchmaking/Chart.yaml
  package.json
Due: none

Notes added by 'git notes add'
  bf836d9ebfbebb6cb31290cf8fdca041dcb79d82
Due: none

ci: install helm and yq
  .github/workflows/release.yml
  kube/manifests/generate_from_helm.sh
  kube/manifests/next-with-prometheus.yaml
Due: none

ci: install helm and yq
  .github/workflows/release.yml
Due: none

Path conditions:
  google-open-match-sdk-bindings-rust: any of: packages/google-open-match-sdk/bindings/rust
  shulker-sdk-bindings-rust: any of: packages/shulker-sdk/bindings/rust
  shulker-addon-matchmaking: any of: packages/shulker-addon-matchmaking
  shulker-kube-utils: any of: packages/shulker-kube-utils
  google-agones-crds: any of: packages/google-agones-crds
  shulker-operator: any of: packages/shulker-operator
  shulker-utils: any of: packages/shulker-utils
  shulker-crds: any of: packages/shulker-crds
